<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/dashboard">Dashboard</a></li>

				<li><a href="#/customerdetails" class="active">Customers </a></li>
				<li><a href="#/order">Orders</a></li>

				<!--<li><a href="#/alert">Alerts</a></li>-->
				<li><a href="#/register" class="active">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Material Types</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Manage Customers </div>

	<div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="managecustomer-left-menu-inner-page">
					<h4 class="admin-setting-heding">Settings</h4>
					<ul>
						<li><a href='#/register'><span>Manage Users</span></a></li>
						<li><a href='#/statustype'><span>Manage Order Status</span></a></li>
						<li><a href='#/measurements'><span>Manage Measurements</span></a></li>
						<li><a href='#/clothtype' class="active"><span>Manage Designs</span></a></li>
						<li><a href='#/subdesign'><span>Manage Styles</span></a></li>
						<li><a href='#/materialtype'><span>Manage Material Types</span></a></li>
					</ul>
				</div>
			</div>
	<div class="col-md-9 col-sm-9 col-xs-12">
    <h4 class="admin-setting-heding">Add Designs</h4>
			
		<!-- Left Form Section Start Here -->
		<form name="form" novalidate>

    <div class="order-form-left-section add-new-form">
      <div class="form-section-box">

			 <div class="form-box">

			  <label><em id="mandatory" style="color:Red">*</em>&nbsp;Design</label>
			  <input id="" focus="true" name="style" required="required" ng-minlength="2" ng-maxlength="20" type="text" placeholder="Design" ng-model="vm.title"/>

					<span ng-show="form.style.$error.required && (form.style.$dirty || vm.formSubmitted)">Design is required.</span>
					<span ng-show="(form.style.$error.minlength || form.style.$error.maxlength) && (form.style.$dirty || vm.formSubmitted)">Design Name should be between 2 to 20 characters long.</span>
          	         <!--<span ng-show="form.style.$error.maxlength && (form.style.$dirty || vm.formSubmitted)">Design name length must be less than 02 characters.</span>-->
   
          <span ng-show="vm.flag">This design already exists.</span>


       </div>

			 <div class="form-box">
				 <label><em id="mandatory" style="color:Red">*</em> Measurement</label>
				 <select ng-model="vm.measu" name="measurement" ng-required="vm.selectMeasurement.length == 0" placeholder="Measurement" class="clothmeasurementinput" >
                             <option value="">Please Select</option>
							<option ng-if="x.isActive" ng-repeat="x in vm.measurementstype"> {{x.name}}</option>
						</select>
						<strong class="clothaddbutton"><a href="" ng-click="vm.measurement(vm.measu)">Add</a></strong>
				
			 <span ng-show="vm.flagformeasure">This measurement already added.</span>
			 <span ng-if="vm.selectMeasurement.length == '0' && (vm.formSubmitted)">Measurement is required.</span>
			 </div>

			 <div class="form-box form-box-measurement-add" ng-repeat="data in vm.selectMeasurement">
				 {{data}}
			 <button type="button" ng-click="vm.delete($index)">X</button>
			  </div>


			<!--<div class="form-box">
					<label>Add Photos</label>
					<input class="clothmeasurementinput" id="inputImage2" type="file" accept="image/*" image="image2" resize-max-height="200" resize-max-width="200" resize-quality="0.7"	/>
					<strong class="clothaddbutton"><a href="" ng-click="vm.single(image2.resized.dataURL)">Add</a></strong>
					<img style="width: 150; margin-left: 160px;" ng-repeat="i in vm.src" ng-src="{{i}}" />
					<span ng-if="vm.selectMeasurement.length == '0' && (vm.formSubmitted)">Measurement is required.</span>
			</div>-->
			 <div class="form-box">
				  <label>Is Active</label>
				 <input type="checkbox" class="billing-addres-checkbox clothcheck" ng-model="vm.isActive"/>
			 </div>
			</div>

      <div class="add-new-btm-btn">
			<div class="submit-button">
				<input type="button" value="Save" ng-click="vm.addClothtype(form)"/>
			</div>
			<div class="cancel-button">
				<input type="button" value="Cancel" ui-sref="clothtype"/>
			</div>
	   </div>


</div>
</form>

			
			</div>
		</div>

	
	</div>
	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
</div>
<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()

		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");

		})

	});
</script>