<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo"><img src="assets/images/logo.png" alt=""></div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/customerdetails">Customers</a></li>
				<li><a href="#/order" class="active">Orders</a></li>
				<li><a href="#/alert">Alerts</a></li>
				<li><a href="#/register">Settings</a></li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Create Order</div>
	<form name="orderform" novalidate>
		<div class="main-contant-part">
		<!-- Main Contant Part Start Here -->
			<div class="form-box">
				<div class=" customer-detailsmain-box">
					<label>Order</label>
				</div>

				<div class=" customer-detailsmain-box1">
					<label>Order Date </label>
					<datepicker date-format="dd/MM/yyyy">
						<input id="mydate" ng-model="vm.orderdate1" name="orderdate{{$index}}" type="text" placeholder="Date of Order" />
					</datepicker>
				</div>

				<div class=" customer-detailsmain-box2"><label>Order Status </label>&nbsp;<strong>NEW</strong></div>
			</div>

			<div class="form-box create-order-box">
				<div class=" customer-detailsmain-box">
					<label>Order by</label>
					<select ng-model="temp" ng-change="vm.selectCustomer(temp)" ng-options="data as data.customerName for data in vm.customer"
						name="customeruser">{{vm.name}}
				 		<option value="">-- Please Select --</option>
					</select>
				</div>

				<div class=" customer-detailsmain-box1"><label>Contact Number </label>&nbsp;<strong>{{vm.seleCust.mobileNumber}}</strong></div>

				<div class=" customer-detailsmain-box2"><label>Address </label>&nbsp;<strong>{{vm.seleCust.address}}</strong></div>
			</div>
				
			<!-- Addproducttable Main Box Start Here -->
			<div class="addproducttable-main-box">
				<div class="left-list-addproduct">
					<ul>
						<li>Design</li>
						<li>Sub Design</li>
						<li>Material Type</li>
						<li>Color Code</li>
						<li>Customization</li>
						<li>Remarks</li>
						<li>Add Photo</li>
						<li>Measurement</li>
					</ul>
				</div>
		
				<!-- Table Repeat Section Start Here -->
				<div ng-repeat="item in vm.items">
					<table style="width:20%">
					<tr>
						<td class="addproducttable-B">
							<select ng-model="vm.order[$index].type" name="clothtype{{$index}}" ng-change="vm.designSelect(vm.order[$index].type,$index)"
								ng-options="data as data.title for data in vm.type | filter:data.isActive != true" data-toggle="modal" data-target="#myModal">
												<option value="">-- Please Select --</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td class="addproducttable-B">
							<input ng-model="vm.order[$index].type2" name="clothtype{{$index}}" disabled />

							<!-- Prompt Box -->
							<!-- Modal -->
							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">select style</h4>
										</div>
										<div class="modal-body">
											<span ng-repeat="data in vm.subdesignimage ">
												<img style="margin: 5px; border: 1px red solid ;width:200px" ng-src="/imgupload/{{data}}" ng-click="vm.clicked(vm.subdesign[$index])" />
											</span>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
										</div>
									</div>

								</div>
							</div>
							<!-- Prompt Box -->
						</td>
					</tr>

					<tr>
						<td class="addproducttable-B">
							<select ng-model="vm.order[$index].materialtype" ng-options="data as data.materialtype for data in vm.material | filter:data.isActive != true" name="material{{$index}}">
								<option value="">-- Please Select --</option></select>
							</select>
						</td>
					</tr>

					<tr>
						<td class="addproducttable-B">
							<input ng-model="vm.order[$index].color" type="text" />
						</td>
					</tr>

					<tr>
						<td class="addproducttable-B">{{vm.order[$index].customization}}
							<a data-toggle="modal" data-target="#myModal2" ng-click="vm.inexforprompt($index)" >Details</a>

							<!-- Prompt Box For Add Customization-->
							<!-- Modal -->
							<div class="modal fade" id="myModal2" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Add Customization</h4>
										</div>
										<div class="modal-body">
											<textarea style="margin-top: 0px;" ng-model="vm.order[vm.indexforpromptbox].customization"  rows="4" cols="50" placeholder="Customization Description"
											class="customization-check-box-textarea"></textarea>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
								
										</div>
									</div>
								</div>
							</div>
							<!-- Prompt Box -->
						</td>
					</tr>

					<tr>
						<td class="addproducttable-B">
							<a data-toggle="modal" data-target="#myModal3" ng-click="vm.inexforprompt($index)">Comments</a>
							<!-- Prompt Box For Add Details-->
							<!-- Modal -->
							<div class="modal fade" id="myModal3" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Add Summary</h4>
										</div>
										<div class="modal-body">
											<textarea style="margin-top: 0px;" rows="4" cols="50" ng-model="vm.order[vm.indexforpromptbox].cloth" class="customization-check-box-textarea" name="clothdesc{{$index}}"
												placeholder="Summary">
											</textarea>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Prompt Box -->
						</td>
					</tr>

					<tr>
						<td class="addproducttable-B">
							<input class="clothmeasurementinput" id="browseimage{{$index}}" type="file" accept="image/*" image="vm.order[$index].image" resize-max-height="200"
								resize-max-width="200" resize-quality="0.7" required="required" name="browseimage{{$index}}" />


							<img ng-show="vm.order[$index].image" ng-src="{{vm.order[$index].image.resized.dataURL}}" />
						</td>
					</tr>

					<tr>
						<td class="addproducttable-B">
							<div ng-repeat="data in vm.measu[$index]">
								<label>{{data}}</label>
								<input style="width: 40%;" ng-model="vm.order[$parent.$index].xyz[$index]" class="measurement-input" name="measurement{{$index}}" required="required"
									type="text" />
							</div>
						</td>
					</tr>

					<tr>
						<td class="addproducttable-B">
							<div class="addproducttable-Add-BTN add-pair-box">
								 <input ng-hide="vm.hidepairbutton[$index]" type="submit" value="Add Pair" ng-click="vm.submit2($index)">
							</div>
						</td>
					</tr>
				</table>
				
			</div>
			<!-- Table Repeat Section End Here -->
			<div class="addproducttable-Add-BTN"><input type="submit" value="Add" ng-click="vm.submit()" /></div>
		</div>
		<!-- Addproducttable Main Box End Here -->
		<div class="submit-button">
			<input type="submit" value="Save" ng-click="vm.final(vm.order)" />
		</div>
	<!-- Main Contant Part End Here -->		
	</div>
</form>
	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
</div>

<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()
		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");
		})
	});
</script>