<div class="container">

    <!-- Header Section Start Here -->
    <div class="main-header">
        <div class="logo">
            <a href="#/home"><img src="assets/images/logo.png" alt=""></a>
        </div>
        <span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
        <div class="navbar">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/customerdetails" class="active">Customers</a></li>
                <li><a href="#/order">Create Order</a></li>
                <li><a href="#/alert">Alerts</a></li>
                <li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
                    <ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Material</span></a></li>
                    </ul>
                </li>
                <li><a href="#/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- Header Section End Here -->
    <div class="inner-heading-bar">Add Product</div>
    <form name="form" novalidate>
        <div class="main-contant-part">
            <!-- Customer Details page Section Start Here -->
            <!--for select design-->
            <div class="form-heading">
                <h3>Design Details</h3>
            </div>
            <h4>Select Design </h4>
            <!--<div class="container">-->

            <div class="table-box">
                <div style="float:left;">
<input type="radio" name="emotion" id="shirt" class="input-hidden" />
<label for="shirt"><img src="assets/images/shirt.jpeg" alt="I'm sad" /></label>
<span style="display: table-row;">Shirt</span>
</div>

<div style="float:left;">
<input type="radio" name="emotion" id="blazer" class="input-hidden" />
<label for="blazer"><img src="assets/images/blazer.jpeg" alt="I'm sad" /></label>
<span style="display: table-row;">Blazer</span>
</div>

<div style="float:left;">
<input type="radio" name="emotion" id="kurta" class="input-hidden" />
<label for="kurta"><img src="assets/images/kurta.jpg" alt="I'm sad" />    </label>
<span style="display: table-row;">Kurta</span>

</div>

<div style="float:left;">
<input type="radio" name="emotion" id="pant" class="input-hidden" />
<label for="pant"><img src="assets/images/pant.jpeg" alt="I'm sad" /></label>
<span style="display: table-row;">Pant</span>
</div>
</div>

<div class="form-heading" style="margin-top: 20px;"></div>
<h4>Select Material Type</h4>

<div class="table-box">
    <div style="float:left;">
<input type="radio" name="emotion" id="jade" class="input-hidden" />
<label for="jade"><img src="assets/images/jade-blue-bharuch-logo.jpg" alt="I'm sad" /></label>
<span style="display: table-row;">Jade</span>
</div>



<div style="float:left;">
<input type="radio" name="emotion" id="raymond" class="input-hidden" />
<label for="raymond"><img src="assets/images/raymond.png" alt="I'm sad" /></label>
<span style="display: table-row;">Raymond</span>
</div>

<div style="float:left;">
<input type="radio" name="emotion" id="ralphlauren" class="input-hidden" />
<label for="ralphlauren"><img src="assets/images/ralphlauren.JPG" alt="I'm sad" /></label>
<span style="display: table-row;">Ralph Lauren</span>
</div>

<div style="float:left;">
<input type="radio" name="emotion" id="levis" class="input-hidden" />
<label for="levis"><img src="assets/images/levis.jpeg" alt="I'm sad" /></label>
<span style="display: table-row;">Levi's</span>
</div>

</div>

<div class="form-heading" style="margin-top: 20px;"></div>
<h4>Select Color</h4>


<div class="table-box">
    <div style="float:left;">
<input type="radio" name="emotion" id="red" class="input-hidden" />
<label for="red"><span style="background-color: red;" class="color-box"></span>
</label>
<span style="display: table-row;">Red</span>
</div>

<div style="float:left;">
<input type="radio" name="emotion" id="blue" class="input-hidden" />
<label for="blue"><span style="background-color:blue;" class="color-box"></span>
</label>
<span style="display: table-row;">Blue</span>
</div>

<div style="float:left;">
<input type="radio" name="emotion" id="black" class="input-hidden" />
<label for="black"><span style="background-color:black;" class="color-box"></span>
</label>
<span style="display: table-row;">Black</span>
</div>

<div style="float:left;">
<input type="radio" name="emotion" id="Green" class="input-hidden" />
<label for="Green"><span style="background-color:green;"class="color-box"></span>
</label>
<span style="display: table-row;">Green</span>
</div>
</div>

<div class="form-heading" style="margin-top: 20px;" ></div>
<div class="order-form-left-section" style="width: 100%;">
    <div class="form-section-box">
        <div class="form-box">

            <label style="text-align:left;"><em ng-if="vm.addProduct.checked" id="mandatory" style="color:Red">*</em>&nbsp;Customization</label>
<div class="customization-check-box">
    <input type="checkbox" ng-model="vm.addProduct.checked" ng-change="vm.empty()" name="vehicle" value="" class="checkbox"
    />
    <textarea style="width: 75%!important; clear:both;" ng-disabled="!vm.addProduct.checked" ng-minlength="10" ng-maxlength="100" ng-model="vm.addProduct.customization"
        class="customization-check-box-textarea" rows="4" cols="50" placeholder="Customization Description" name="customization"></textarea>
</div>
<span ng-show="form.customization.$error.minlength">Customization length must be greater than 10.</span>
<span ng-show="form.customization.$error.maxlength">Customization length must be less than 100.</span>

</div>

<div class="form-box">
    <label style="text-align:left; ">Any Other Remarks</label>


    <textarea  style="width: 53%!important;" rows="4" cols="50" ng-maxlength="200" ng-model="vm.addProduct.cloth" placeholder="Any Other Remark" name="clothdesc"></textarea>
    <span ng-show="vm.addProduct.clothdesc.$error.maxlength">Remarks description length must be less than 200.</span>

</div>
</div>

<h3>Measurement Details</h3>
<div class="form-heading" style="width: 100%;"></div>
<div class="form-section-box">

        <div class="measurement-li-box">
        <ul class="ng-scope">
<li style="float: left;"><i>SH:</i>
                <strong><input class="measurement-input" name="measureSH" type="text" ng-pattern="/^[0-9]{1,10}$/" ng-model="vm.measureSH" >
                <span ng-show="form.measureSH.$error.pattern">Cloth measurement must be a number.</span>
                <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li style="float: left;"><i>BUST:</i>
                <strong><input class="measurement-input" name="measureBUST" type="text" ng-pattern="/^[0-9]{1,10}$/" ng-model="vm.measureBUST" >
                <span ng-show="form.measureBUST.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>WAIST:</i>
                 <strong><input class="measurement-input" name="measureWAIST" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureWAIST" >
                <span ng-show="form.measureWAIST.$error.pattern">Cloth measurement must be a number.</span>
				 <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>L.WAIST:</i>
                <strong><input class="measurement-input" name="measureLWAIST" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureLWAIST" >
                <span ng-show="form.measureLWAIST.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>HIPS:</i>
                 <strong><input class="measurement-input" name="measureHIPS" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureHIPS" >
                <span ng-show="form.measureHIPS.$error.pattern ">Cloth measurement must be a number.</span>
				 <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>SLEEVES:</i>
                <strong><input class="measurement-input" name="measureSLEEVES" type="text" ng-pattern="/^[0-9]{1,10}$/" ng-model="vm.measureSLEEVES" >
                <span ng-show="form.measureSLEEVES.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>SHORT:</i>
                <strong><input class="measurement-input" name="measureSHORT" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureSHORT" >
                <span ng-show="form.measureSHORT.$error.pattern ">Cloth measurement must be a number.</span>
				 <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>3/4:</i>
                <strong><input class="measurement-input" name="measuretype" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measuretype" >
                <span ng-show="form.measuretype.$error.pattern ">Cloth measurement must be a number.</span>
				 <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>LENGTH:</i>
                <strong><input class="measurement-input" name="measureLENGTH" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureLENGTH" >
                <span ng-show="form.measureLENGTH.$error.pattern ">Cloth measurement must be a number.</span>
				 <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>FULL</i>
                <strong><input class="measurement-input" name="measureFULL" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureFULL" >
                <span ng-show="form.measureFULL.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li> <i>FULL LEN:</i>
                 <strong><input class="measurement-input" name="measureFULLL" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureFULLL" >
                <span ng-show="form.measureFULLL.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li> <i>KNEE LEN:</i>
                 <strong><input class="measurement-input" name="measureKNEE" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureKNEE" >
                <span ng-show="form.measureKNEE.$error.pattern ">Cloth measurement must be a number.</span>
				 <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li> <i>ARMHOLE:</i>
               <strong><input class="measurement-input" name="measureARMHOLE" type="text" ng-pattern="/^[0-9]{1,10}$/" ng-model="vm.measureARMHOLE" >
                <span ng-show="form.measureARMHOLE.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li> <i>U.THIGH:</i>
                <strong><input class="measurement-input" name="measureUTHIGH" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureUTHIGH" >
                <span ng-show="form.measureUTHIGH.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li> <i>L.THIGH:</i>
    <strong><input class="measurement-input" name="measureLTHIGH" type="text" ng-pattern="/^[0-9]{1,10}$/"ng-model="vm.measureLTHIGH" >
                <span ng-show="form.measureLTHIGH.$error.pattern ">Cloth measurement must be a number.</span>
								  <img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>CALF:</i>
                <strong><input class="measurement-input" name="measureCALF" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureCALF" >
                <span ng-show="form.measureCALF.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>F-NECK:</i>
                 <strong><input class="measurement-input" name="measureFNECK" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureFNECK" >
                <span ng-show="form.measureFNECK.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>B-NECK:</i>
                <strong><input class="measurement-input" name="measureBNECK" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureBNECK" >
                <span ng-show="form.measureBNECK.$error.pattern">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>MORI:</i>
                <strong><input class="measurement-input" name="measureMORI" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureMORI" >
                <span ng-show="form.measureMORI.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

<li><i>CROSS B:</i>
                <strong><input class="measurement-input" name="measureCROSS" type="text" ng-pattern="/^[0-9]{1,10}$/"  ng-model="vm.measureCROSS" >
                <span ng-show="form.measureCROSS.$error.pattern ">Cloth measurement must be a number.</span>
				<img src="assets/images/inc-icon.png" alt=""></strong></li>

</ul>
</div>
</div>
</div>



<div class="submit-button" style="clear:both; margin-left:305px;">
<input class="add-next-button" type="submit" value="submit" ng-click=" vm.add(addProduct)" />
</div>
</div>



</form>

<!-- Footer Section Start Here -->
<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
<!-- Footer Section End Here -->
</div>