<div class="container">

<!-- Header Section Start Here -->
 <div class="main-header">
	<div class="logo"><a href="#/home"><img src="assets/images/logo.png" alt=""></a></div>
  <span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
     <ul>
      <li><a href="#/home" >Home</a></li>
			<li><a href="#/customerdetails">Customer Details</a></li>
			<li><a href="#/order">Order Form</a></li>
			<li><a href="#/alert" >Alerts</a></li>
			<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
				<ul>
	        <li><a href='#/register'><span>Add User</span></a></li>
	        <li><a href='#/clothtype'><span>Cloth Type</span></a></li>
					<li><a href='#/materialtype'><span>Material Type</span></a></li>
	      </ul>
			</li>
			<li><a href="#/logout">Logout</a></li>
		 </ul>
		</div>
 </div>
 <!-- Header Section End Here -->

 <div class="inner-heading-bar">Material Type</div>

 <div class="main-contant-part">
  <!-- Customer Details page Section Start Here -->
  <div class="customer-detail-page-contant">
   <div class="right-add-new-button"><a href="#/addmaterialtype">Add New</a></div>
   <div class="details-table">
     <table class="table-part" border="0" cellspacing="0" cellpadding="0">
      <tr class="top-purpal-color-row">
        <th>Material Type</th>
        <th>Status</th>
        <!--<th>Action</th>-->
      </tr>
<!-- ng-repeat="newdata in vm.materialdata"  -->
      <tr dir-paginate="newdata in vm.materialdata|itemsPerPage:10" >
        <td data-th="Material Type: " class="top-purpal-color-row2"><a ng-click="vm.editpage(newdata)" class="customer-name-link">{{newdata.materialtype}}</td>
        <!--<td data-th="Action: " class="top-purpal-color-row2">{{newdata.active}}</td>-->
        <td data-th="Material Type: " class="top-purpal-color-row2">{{newdata.active}}</td>
      </tr>
</table>
   </div>
  </div>
  <!-- Customer Details page Section End Here -->
  <div class="paging">
   <dir-pagination-controls
              max-size="10"
             direction-links="true"
             boundary-links="true" >
     </dir-pagination-controls>
    </div>
 </div>
 <!-- Footer Section Start Here -->
 <div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
 <!-- Footer Section End Here -->
</div>

 <script type="text/javascript">
         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("active");

		   })

});
</script>
