<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>


				<li><a href="#/customerdetails" class="active">Customers </a></li>
				<li><a href="#/order">Orders</a></li>

				<li><a href="#/alert">Alerts</a></li>
				<li><a href="#/register">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Materials</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Manage Customers </div>

	<div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
		<div class="row">
			<div class="col-sm-3">
				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
							<span class="visible-xs navbar-brand">Sidebar menu</span>
						</div>
						<div class="navbar-collapse collapse sidebar-navbar-collapse">
							<ul>
								<li><a href='#/register'><span>Manage Users</span></a></li>
								<li><a href='#/clothtype'><span>Manage Designs</span></a></li>
								<li><a href='#/subdesign'><span>Manage Styles</span></a></li>
								<li><a href='#/materialtype'><span>Manage Materials</span></a></li>
							</ul>
						</div>
						<!--/.nav-collapse -->
					</div>
				</div>
			</div>
			<div class="col-sm-9">
			
  <!-- Left Form Section Start Here -->
  <!-- ng-model="form" novalidate -->
  <form name="frm" novalidate>
  <div class="order-form-left-section add-new-form">
    <div class="form-section-box">

     <div class="form-box">

      <label><em id="mandatory" style="color:Red">*</em>&nbsp;Material Type</label>
      <input id="mtype" focus="true" name="materialtype" type="text" ng-minlength="3" ng-maxlength="20" ng-model="vm.materialtype"  placeholder="Material Type" required/>
      	<span ng-show="frm.materialtype.$error.required && (frm.materialtype.$dirty || vm.formSubmitted)">Material is required.</span>
        	<span ng-show="frm.materialtype.$error.minlength && (frm.materialtype.$dirty || vm.formSubmitted)">Material type should not be less than 2 characters.</span>
          	<span ng-show="frm.materialtype.$error.maxlength && (frm.materialtype.$dirty || vm.formSubmitted)">Material type should not be less than 20 characters.</span>
            <span ng-show="vm.flag">This material type already exists.</span>

      </div>

     <div class="form-box">
        <label>Is Active</label>
       <input type="checkbox" ng-model="vm.active" class="billing-addres-checkbox clothcheck"/>

     </div>
    </div>
    <div class="add-new-btm-btn">
    <div class="submit-button">
      <input  type="submit" value="Save" ng-click=" vm.materialsave(frm)" />
    </div>
    <div class="cancel-button">
      <input type="submit" value="Cancel" ng-click="vm.materialcancel()" />
    </div>
   </div>
  </div>
</form>

			
			</div>
		</div>

		<!-- Customer Details page Section End Here -->
		<div class="paging">
			<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
			</dir-pagination-controls>
		</div>
	</div>
	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
</div>
<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()

		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");

		})

	});
</script>