  <div class="container">

	<!-- Header Section Start Here -->
   <div class="main-header">
    <div class="logo"><img src="assets/images/logo.png" alt=""></div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
     <ul>
      <li><a href="#/home" >Home</a></li>
			<li><a href="#/customerdetails">Customer Details</a></li>
			<li><a href="#/order">Order Form</a></li>
			<li><a href="#/alert" class="active">Alerts</a></li>
			<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
				<ul>
	        <li><a href='#/register'><span>Add User</span></a></li>
	        <li><a href='#/clothtype'><span>Cloth Type</span></a></li>
					<li><a href='#/materialtype'><span>Material Type</span></a></li>
	      </ul>
			</li>
			<li><a href="#/logout">Logout</a></li>
		 </ul>
		</div>
	 </div>
	 <!-- Header Section End Here -->

	 <div class="inner-heading-bar">Edit ClothType</div>

	 <div class="main-contant-part minpageheight">
		<!-- Left Form Section Start Here -->
    <div class="order-form-left-section add-new-form">
      <div class="form-section-box">
     
			 <div class="form-box">
			  <label>Cloth Type</label>
			  <input id="" name="" required="required" type="text" ng-model="vm.clothtype.title" placeholder="Cloth Type" />
		   </div>

			 <div class="form-box">
			  <label>Measurement:</label>
        <input id="" name="" required="required" type="text" ng-model="vm.clothtype.measurement" placeholder="Measurement" class="clothmeasurementinput"/>
				<span class="clothaddbutton"><a href="">Add</a></span>
			 </div>

			 <div class="form-box">
				  <label>isActive:</label>
				 <input type="checkbox" class="billing-addres-checkbox clothcheck"/>
			 
			 </div>
         
		

			</div>

      <div class="add-new-btm-btn">
			<div class="submit-button">
				<input type="submit" value="Update" />
			</div>
			<div class="cancel-button">
				<input type="submit" value="Cancel" />
			</div>
	   </div>


		</div>
	 </div>
		<!-- Left Form Section End Here -->


	 </div>
	 <!-- Footer Section Start Here -->
	 <div class="footer-section">Copyright © 2016 ProT Systems. All rights reserved.</div>
	 <!-- Footer Section End Here -->
	</div>