<div class="container">

<!-- Header Section Start Here -->
 <div class="main-header">
  	<div class="logo"><a href="#/home"><img src="assets/images/logo.png" alt=""></a></div>
    <span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
     <ul>
      <li><a href="#/home" >Home</a></li>

			<li><a href="#/customerdetails">Customers</a></li>
			<li><a href="#/order">Orders</a></li>

			<li><a href="#/alert" >Alerts</a></li>
			<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
				<ul>
	        <li><a href='#/register'><span>Manage Users</span></a></li>
	        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
          <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
					<li><a href='#/materialtype'><span>Manage Materials</span></a></li>

	      </ul>
			</li>
			<li><a href="#/logout">Logout</a></li>
		 </ul>
		</div>
 </div>
 <!-- Header Section End Here -->

 <div class="inner-heading-bar">Add Status</div>

 <div class="main-contant-part minpageheight">
  <!-- Left Form Section Start Here -->
  <!-- ng-model="form" novalidate -->
  <form name="frm" novalidate>
  <div class="order-form-left-section add-new-form">
    <div class="form-section-box">

     <div class="form-box">

      <label><em id="mandatory" style="color:Red">*</em>&nbsp;Status</label>
      <input id="stype" focus="true" name="statuses" type="text" ng-minlength="3" ng-maxlength="20" ng-model="vm.status"  placeholder="Status" required/>
      	<span ng-show="frm.statuses.$error.required && (frm.status.$dirty || vm.formSubmitted)">Status is required.</span>
        	<span ng-show="frm.statuses.$error.minlength && (frm.status.$dirty || vm.formSubmitted)">Status should not be less than 2 characters.</span>
          	<span ng-show="frm.statuses.$error.maxlength && (frm.status.$dirty || vm.formSubmitted)">Status should not be less than 20 characters.</span>
            <span ng-show="vm.flag">This status already exists.</span>

      </div>

     <div class="form-box">
        <label>Is Active</label>
       <input type="checkbox" ng-model="vm.isActive" class="billing-addres-checkbox clothcheck"/>

     </div>
    </div>
    <div class="add-new-btm-btn">
    <div class="submit-button">
      <input  type="submit" value="Save" ng-click=" vm.statussave(frm)" />
    </div>
    <div class="cancel-button">
      <input type="submit" value="Cancel" ng-click="vm.statuscancel()" />
    </div>
   </div>
  </div>
</form>
 </div>
  <!-- Left Form Section End Here -->


 </div>
 <!-- Footer Section Start Here -->
 <div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
 <!-- Footer Section End Here -->
</div>

 <script type="text/javascript">
         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("isActive");

		   })

});
</script>
