<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/dashboard">Dashboard</a></li>
				<li><a href="#/customerdetails">Customers</a></li>
				<li><a href="#/order" class="active">Orders</a></li>
				<!--<li><a href="#/alert">Alerts</a></li>-->
				<li><a href="#/register">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Material Types</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Order # - {{vm.records.timestamp}}</div>
	<form name="orderform" novalidate>
		<div class="main-contant-part">
			
			<div class="form-box">
                <!--<div class=" customer-detailsmain-box">
                  <label>Order #</label>&nbsp;{{vm.records.timestamp}}
                </div>-->

                <div class=" customer-detailsmain-box1">
					<label>Order Date </label><strong>{{vm.records.orderdate}}</strong>
				</div>

				<div class=" customer-detailsmain-box2"><label>Order Status </label>&nbsp;<strong>{{vm.productwiserecord[0].status}}</strong></div>
			</div>

                <div class="form-box create-order-box">
      						<div class=" customer-detailsmain-box">
      							<label>Order by</label>&nbsp;{{vm.records.customerName}}
      						</div>

      						<div class=" customer-detailsmain-box1"><label>Contact Number </label><strong>{{vm.customerdetailsnew.mobileNumber}}</strong></div>

      						<div class=" customer-detailsmain-box2"><label>Address </label>&nbsp;<strong>{{vm.customerdetailsnew.address}}</strong></div>
      			 </div>
			
			
			



					<div class="form-section-box">

						<div class="form-box">
							<table class="table table-part" border="1" cellspacing="0" cellpadding="0">
								<tr class="top-purpal-color-row">
									<th>Design</th>
									<th>Delivery Date</th>
									<th>Stitching Date</th>
									<th>Alert Date</th>
									<th>Amount</th>
									<th>Status</th>
								</tr>
								<tr ng-repeat="i in vm.productwiserecord" ng-class="{'some2': vm.sprayColour($index,vm.productwiserecord)}">
									<td style="width: 200px">
										<a href="#/editProduct">
											<b>{{vm.productwiserecord[$index].type + " (" + vm.productwiserecord[$index].subdesign + ")"}}</b>
										</a>
										<img ng-src="imgupload/{{vm.productwiserecord[$index].browseimage}}" height="50" width="50"/>
									</td>
									<td>
										<datepicker style="width: 100%;" class="datepickerbx" date-format="dd/MM/yyyy">
										<input style="margin-bottom: 0px;" class="inputdatipicker" ng-model="vm.productwiserecord[$index].deliverydate" ng-change="vm.change(vm.records.orderdate,$index)"
										id="" name="deliverydate{{$index}}" required="required" type="text" placeholder="Date of Delivery" />
										</datepicker>
									</td>
									
									<td>
									<datepicker style="width: 100%;" class="datepickerbx" date-format="dd/MM/yyyy">
									<input style="margin-bottom: 0px;" class="inputdatipicker " ng-model="vm.productwiserecord[$index].stitchingdate" name="stitchingdate{{$index}}" required="required" ng-change="vm.stitchingchange(vm.productwiserecord[$index].stitchingdate,$index)"
									type="text" placeholder="Date of Stitching" />
									</datepicker>
									</td>
									<td>
										<datepicker style="width: 100%;" class="datepickerbx" date-format="dd/MM/yyyy">
										<input style="margin-bottom: 0px;" class="inputdatipicker" ng-model="vm.productwiserecord[$index].alertday" ng-change="vm.alertchange(vm.records.orderdate,vm.productwiserecord[$index].deliverydate,vm.productwiserecord[$index].alertday)"
										id="" name="alertdate{{$index}}" required type="text" placeholder="Date of Alert" />
										</datepicker>
									</td>
									<td>
										<input style="width: 100% !important; margin-bottom: 0px;" class="addorder-amount-icon" id="" name="amount{{$index}}" ng-pattern="/^[0-9]{1,10}$/" ng-maxlength="10" required="required"
										ng-model="vm.productwiserecord[$index].amount" type="text" placeholder="Amount" style="width: 100% !important;"/>
									</td>
									<td>
			
										<select style="width: 100%" ng-model="vm.productwiserecord[$index].status" name="material{{$index}}">
										<!--<option value="{{vm.productwiserecord[$index].status}}">{{vm.productwiserecord[$index].status}}</option>-->
										<option  ng-repeat="data in vm.statusdata">{{data.status}}</option>
										</select>
									</td>
								</tr>
							</table>
						</div>


<!--validation-->
						<div style="color: red">
							<span ng-show="orderform['deliverydate'+$index].$error.required && (orderform['deliverydate'+$index].$dirty || vm.formSubmitted)">Delivery date must be greater than Date of Order.<br></span>

							<span ng-if="vm.date1">Delivery date should be greater than Order date.<br></span>
							<span ng-if="vm.date4">Delivery date should be greater than Stitching date.<br></span>
							<span ng-show="orderform['stitchingdate'+$index].$error.required && (orderform['stitchingdate'+$index].$dirty || vm.formSubmitted)">Stitching Date of Order is required.<br></span>
							<span ng-if="vm.tempalert">Stiching date should be  greater than Order date.<br></span>

							<span ng-show="orderform['alertdate'+$index].$error.required && (orderform['alertdate'+$index].$dirty || vm.formSubmitted)">Alert Date is required.<br></span>
							<span ng-if="vm.date2">Alert Date should be greater than Order date.<br></span>
							<span ng-if="vm.date3">Alert Date should be greater than Delivery date.<br></span>

							<span ng-show="orderform['amount'+$index].$error.required && (orderform['amount'+$index].$dirty || vm.formSubmitted)">Amount is required.<br></span>
							<span ng-show="orderform['amount'+$index].$error.pattern && (orderform['amount'+$index].$dirty || vm.formSubmitted)">Amount can only contain numeric values.<br></span>
							<span ng-show="orderform['amount'+$index].$error.maxlength && (orderform['amount'+$index].$dirty || vm.formSubmitted)">Amount should not be greater than 10 digits.<br></span>
						</div>
						<!--validation-->
						<div class="right-add-new-button"><a ng-click="vm.updateOrder(vm.productwiserecord)">Update</a></div>
					</div>
			</div>



		</div>
		<!-- Footer Section Start Here -->
		<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
		<!-- Footer Section End Here -->
	</form>
	<script type="text/javascript">
		$(document).ready(function (e) {
			$(".menu-toggle").click(function () {
				$(".navbar").slideToggle()

			})
			$(".navbar ul li").click(function () {
				$(this).find("ul").slideToggle()
				$(this).toggleClass("active");

			})

		});
	</script>