<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>


				<li><a href="#/customerdetails" class="active">Customers </a></li>
				<li><a href="#/order">Orders</a></li>

				<li><a href="#/alert">Alerts</a></li>
				<li><a href="#/register" class="active">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Materials</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Manage Customers </div>

	<div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="managecustomer-left-menu-inner-page">
					<h4 class="admin-setting-heding">Settings</h4>
					<ul>
						<li><a href='#/register' class="active"><span>Manage Users</span></a></li>
						<li><a href='#/statustype'><span>Manage Status</span></a></li>
						<li><a href='#/measurements'><span>Manage Measurement</span></a></li>
						<li><a href='#/clothtype'><span>Manage Designs</span></a></li>
						<li><a href='#/subdesign' class="active"><span>Manage Styles</span></a></li>
						<li><a href='#/materialtype'><span>Manage Materials</span></a></li>
					</ul>
				</div>
			</div>
	<div class="col-md-9 col-sm-9 col-xs-12">
    <h4 class="admin-setting-heding">Add Styles</h4>
			
		<!-- Left Form Section Start Here -->
		<form name="form" novalidate>

    <div class="order-form-left-section add-new-form">
      <div class="form-section-box">


			 <div class="form-box">
			  <label><em id="mandatory" style="color:Red">*</em>&nbsp;Style</label>

					  	<input ng-model="vm.subdesigns" type="text" class="clothmeasurementinput" >
							
						</input>
						<!--<strong class="clothaddbutton"><a href="" ng-click="vm.subdesign(vm.subdesi,image2)">Add</a></strong>
				<span ng-show="vm.flagformeasure">This Sub Design already added.</span>-->
		
			 <!--<span ng-if="vm.selectMeasurement.length == '0' && (vm.formSubmitted)">Measurement is required.</span>-->
			 </div>

			 <div class="form-box">

			  <label><em id="mandatory" style="color:Red">*</em>&nbsp;Design</label>
					<select   class="clothmeasurementinput" ng-model="vm.designs" required="required" name="design"  >
						<option  ng-repeat="x in vm.design"> {{x.title}}</option>
					</select>
       </div>

			 <!--<div class="form-box form-box-measurement-add" ng-repeat="data in vm.selectMeasurement">
				 {{data}}
			 <button type="button" ng-click="vm.delete($index)">X</button>
			  </div>-->
<div class="form-box">
		<label><em id="mandatory" style="color:Red">*</em> Image</label>
	<input class="clothmeasurementinput" id="inputImage2" type="file" accept="image/*"  image="image2"  resize-max-height="200" resize-max-width="200" resize-quality="0.7"	/>
	<img style="margin-left:200px " ng-show="image2" ng-src="{{image2.resized.dataURL}}" />{{imgage2}}
	<!--<button type="submit" ng-click="">Preview</button>-->
</div>

			<!--<div class="form-box">
					<label>Add Photos</label>
					<input class="clothmeasurementinput" id="inputImage2" type="file" accept="image/*" image="image2" resize-max-height="200" resize-max-width="200" resize-quality="0.7"	/>
					<strong class="clothaddbutton"><a href="" ng-click="vm.single(image2.resized.dataURL)">Add</a></strong>
					<img style="width: 150; margin-left: 160px;" ng-repeat="i in vm.src" ng-src="{{i}}" />
					<span ng-if="vm.selectMeasurement.length == '0' && (vm.formSubmitted)">Measurement is required.</span>
			</div>-->
			 <div class="form-box">
				 		  <label><em id="mandatory" style="color:Red">*</em> Is Active</label>
				 <input type="checkbox" class="billing-addres-checkbox clothcheck" ng-model="vm.isActive"/>
			 </div>
			</div>

      <div class="add-new-btm-btn">
			<div class="submit-button">
				<input type="button" value="Save" ng-click="single(image2.resized.dataURL);vm.addClothtype(form)"/>
			</div>
			<div class="cancel-button">
				<input type="button" value="Cancel" ui-sref="subdesign"/>
			</div>
	   </div>


</div>
</form>

			
			</div>
		</div>

		<!-- Customer Details page Section End Here -->
		<div class="paging">
			<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
			</dir-pagination-controls>
		</div>
	</div>
	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
</div>
<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()

		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");

		})

	});
</script>