

    <div class="centered">
		<div id="login" class="animate form">
        <form   autocomplete="on" style="padding-top:20px;" name="myform" novalidate>
          <h1><strong></strong>Please Login</h1>
          <p class="paragraph">
            <input id="username" type="email" name="username"  ng-model="vm.username" required="required" type="text" placeholder="Email Address"/>
            <span style="color:red" ng-show="myform.username.$error.required && (myform.username.$dirty || vm.formSubmitted)">Username is required.</span><br/>
          </p>
          <p class="paragraph">
            <input id="password" name="password" ng-model="vm.password" required="required" type="password" placeholder="Password" />
            <span style="color:red" ng-show="myform.password.$error.required && vm.formSubmitted">Password is required.</span>
          </p>

          <p class="login button float-left" style="text-align: center;float: left;">
            <input type="submit" value="Login" style="text-align: center;" ng-click="vm.data(myform)"/>
 					</p>
					<p class="forget-password float-right">
            <a href="#/forgotpassword">Forgot Password?</a>
 					</p>


      </form>
    </div>
	</div>
