   <div class="centered">
		<div id="login" class="animate form">
        <form  name="form" autocomplete="on" style="padding-top:20px;" novalidate>
          <h1><strong></strong>Forget Password</h1>
          <p class="paragraph">
            <input id="username" name="username"  ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/" focus="true" ng-model="vm.email" required="required" type="text" placeholder="Email Address"/>
            <span style="color:red" ng-show="vm.flag">Email Address does not exists.</span>
            <span style="color:red" ng-show="form.username.$error.required && (form.username.$dirty || vm.formValidate)">Email Address is required.</span>
            <span style="color:red" ng-show="form.username.$error.pattern && (form.username.$dirty || vm.formValidate)">Email Address is not valid.</span>
          </p>

          <p class="login button submit-btn-for-pass" style="text-align: center;">
            <input type="submit" value="Submit" ng-click="vm.submit(form)" style="text-align:center;" />
            <input type="cancel" value="Cancel" ng-click="vm.cancel()" style="text-align:center;" />
        	</p>

      </form>
    </div>
	</div>
