   <div class="centered">
		<div id="login" class="animate form">
        <form  autocomplete="on" style="padding-top:20px;">
          <h1><strong></strong>Forget Password</h1>
          <p class="paragraph">
            <input id="username" name="username" ng-model="vm.email" required="required" type="text" placeholder="Email Address"/>
            <span ng-show="myform.emailaddress.$error.required && (myform.username.$dirty || vm.formSubmitted)">Email Address is required.</span>
          </p>

          <p class="login button submit-btn-for-pass" style="text-align: center;">
            <input type="submit" value="Submit" ng-click="vm.submit()" style="text-align: center;" />
 					</p>

      </form>
    </div>
	</div>