<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>


				<li><a href="#/customerdetails">Customers </a></li>
				<li><a href="#/order">Orders</a></li>

				<!--<li><a href="#/alert">Alerts</a></li>-->
				<li><a href="#/register" class="active">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Materials</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Manage Customers </div>

	<div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="managecustomer-left-menu-inner-page">
					<h4 class="admin-setting-heding">Settings</h4>
					<ul>
						<li><a href='#/register'><span>Manage Users</span></a></li>
						<li><a href='#/statustype' class="active"><span>Manage Order Status</span></a></li>
						<li><a href='#/measurements'><span>Manage Measurements</span></a></li>
						<li><a href='#/clothtype'><span>Manage Designs</span></a></li>
						<li><a href='#/subdesign'><span>Manage Styles</span></a></li>
						<li><a href='#/materialtype'><span>Manage Materials</span></a></li>
					</ul>
				</div>
			</div>
	<div class="col-md-9 col-sm-9 col-xs-12">
    <h4 class="admin-setting-heding">Edit Status</h4>
			
  <form name="frm" novalidate>
  <div class="order-form-left-section add-new-form">
    <div class="form-section-box">

     <div class="form-box">
      <label><em id="mandatory" style="color:Red">*</em> Status</label>
      <input id="stype" name="statustype" type="text" ng-minlength="3" ng-maxlength="20" ng-model="vm.data.status"  placeholder="Status" required/>
      	<span ng-show="frm.statustype.$error.required && (frm.statustype.$dirty || vm.formSubmitted)">Status is required.</span>
			<span ng-show="(frm.statustype.$error.minlength || frm.statustype.$error.maxlength) && (frm.statustype.$dirty || vm.formSubmitted)">Status should be between 2 to 20 characters long.</span>
			<span ng-if="vm.flag">This status already exists.</span>
      </div>

     <div class="form-box">
        <label>Is Active</label>
       <input type="checkbox" ng-model="vm.data.isActive" class="billing-addres-checkbox clothcheck"/>

     </div>
    </div>
    <div class="add-new-btm-btn">
    <div class="submit-button">
      <input  type="submit" value="Save" ng-click=" vm.update(frm)" />
    </div>
    <div class="cancel-button">
      <input type="submit" value="Cancel" ng-click="vm.statuscancel()" />
    </div>
   </div>
  </div>
</form>

			
			</div>
		</div>

		<!-- Customer Details page Section End Here -->
		
	</div>
	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
</div>
<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()

		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");

		})

	});
</script>