 <div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/dashboard">Dashboard</a></li>

				<li><a href="#/customerdetails">Customers </a></li>
				<li><a href="#/order">Orders</a></li>

				<!--<li><a href="#/alert">Alerts</a></li>-->
				<li><a href="#/register" class="active">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Material Types</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Manage Customers </div>

	<div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="managecustomer-left-menu-inner-page">
					<h4 class="admin-setting-heding">Settings</h4>
					<ul>
						<li><a href='#/register' class="active"><span>Manage Users</span></a></li>
						<li><a href='#/statustype'><span>Manage Order Status</span></a></li>
						<li><a href='#/measurements'><span>Manage Measurements</span></a></li>
						<li><a href='#/clothtype'><span>Manage Designs</span></a></li>
						<li><a href='#/subdesign'><span>Manage Styles</span></a></li>
						<li><a href='#/materialtype'><span>Manage Material Types</span></a></li>
					</ul>
				</div>
			</div>
			
	<div class="col-md-9 col-sm-9 col-xs-12">
    <h4 class="admin-setting-heding">Add User</h4>
 <form name="userform" novalidate>
		<!-- Left Form Section Start Here -->
    <div class="order-form-left-section add-new-form">

      <div class="form-section-box form-section-box-2">

              <div class="form-box">

			  <label><em id="mandatory" style="color:Red">*</em>&nbsp;Username</label>
			  <input id="12" ng-trim="true" my-directive focus="true" name="username" ng-minlength="3" ng-maxlength="20"  required="required"  type="text" ng-model="vm.username" placeholder="Username"/>
				<span ng-show="userform.username.$error.required && (userform.username.$dirty || vm.formSubmitted)">Username is required.</span>
<!-- ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/"<span ng-show="userform.username.$error.pattern">Please use alphanumbers letters only</span>-->
			  <span ng-show="(userform.username.$error.minlength || userform.username.$error.maxlength) && (userform.username.$dirty || vm. formSubmitted)">Username should be between 2 to 20 characters long.</span>
			  <span ng-show="vm.flag">Username already exists.</span>

		   </div>
			 <div class="form-box">

			  <label><em id="mandatory" style="color:Red">*</em>&nbsp;Full Name</label>
			  <input id="" my-directive name="name" ng-minlength="3" ng-maxlength="20" required="required" type="text" ng-model="vm.name" placeholder="Full Name"/>
				<span ng-show="userform.name.$error.required && (userform.name.$dirty || vm.formSubmitted)">Full Name is required.</span>
			  <span ng-show="(userform.name.$error.minlength || userform.name.$error.maxlength) && (userform.name.$dirty || vm.formSubmitted)">Full Name should be between 2 to 20 characters long, and should include UPPERCASE letters, lowercase letters and numbers.</span>
				<!--<span ng-show="userform.name.$error.maxlength && (userform.name.$dirty || vm.formSubmitted)">Full Name must be less than 20 characters.</span>						-->

		   </div>

			 <div class="form-box">
			  <label><em id="mandatory" style="color:Red">*</em>&nbsp;Type of User</label>
					<select ng-model="vm.type" class="paragraph" required="required" name="typeOfUser">
						  <option value="">Please Select</option>
						  <option value="admin">Admin</option>
              <option value="user">User</option>
					  </select>
			 	<span ng-show="userform.typeOfUser.$invalid && (userform.typeOfUser.$dirty || vm.formSubmitted)">Type of User is required.</span>						
		   </div>

			 <div class="form-box">

			  <label> Email Address</label>
			  <input id="username"  name="emailAddress" required="required" ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/" ng-model="vm.email"  ng-minlength="10" ng-maxlength="50"  type="email" placeholder="Email Address"/>
		        <span ng-show="(userform.emailAddress.$error.minlength || userform.emailAddress.$error.pattern) && (userform.emailAddress.$dirty || vm.formSubmitted)">Please enter a valid Email Address (e.g. example@email.com).</span>
				<span ng-show="userform.emailAddress.$error.maxlength && (userform.emailAddress.$dirty || vm.formSubmitted)">Email must be greater than 250.</span>		

		   </div>

			 <div class="form-box">
			  <label><em id="mandatory" style="color:Red">*</em>&nbsp;Password</label>
			     <input id="" my-directive name="password"  ng-minlength="3" ng-maxlength="20" required="required" ng-change="vm.confirm()"  type="password" placeholder="Password" ng-model="vm.password1"/>
       	            <span ng-show="userform.password.$error.required && (userform.password.$dirty || vm.formSubmitted)">Password is required.</span>
				 	<span ng-show="(userform.password.$error.minlength || userform.password.$error.maxlength) && (userform.password.$dirty || vm.formSubmitted)">Password should be between 2 to 20 characters long, and should include UPPERCASE letters, lowercase letters and numbers. </span>
						

		   </div>

			  <div class="form-box">
     <label><em id="mandatory"  style="color:Red">*</em>&nbsp;Confirm Password</label>
			     <input id="" my-directive name="confirm" required="required"  ng-model="vm.password" type="password" placeholder="Confirm Password" ng-change="vm.confirm()"/>
       	<span ng-show="userform.confirm.$invalid && (userform.confirm.$dirty || vm.formSubmitted)">Confirm Password is required.</span>	
				 <span ng-if="vm.check">Password and Confirm Password do not match.</span>						
		   </div>


         <div class="form-box">
			  <label><em id="mandatory"  style="color:Red">*</em>&nbsp;Phone Number</label>
			  <input id="" my-directive name="phonenumber" required="required" type="text" ng-pattern="/^[0-9]{1,10}$/" ng-minlength="10" ng-model="vm.number" placeholder="Phone Number" />
		   	<span ng-show="userform.phonenumber.$error.required && (userform.phonenumber.$dirty || vm.formSubmitted)">Phone Number is required.</span>
				 <span ng-show="(userform.phonenumber.$error.minlength || userform.phonenumber.$error.pattern) && (userform.phonenumber.$dirty || vm.formSubmitted)">Please enter a valid 10-digit phone number.</span>			
		   </div>

        <div class="form-box">
			  <label><em id="mandatory"  style="color:Red">*</em>&nbsp;Address</label>
			  <textarea rows="4" cols="50"  my-directive placeholder="Address" ng-minlength="2" ng-maxlength="250" ng-model="vm.address" name="address" required></textarea>
			 	<span ng-show="userform.address.$error.required && (userform.address.$dirty || vm.formSubmitted)">Address is required.</span>
				 	<span ng-show="(userform.address.$error.minlength || userform.address.$error.maxlength) && (userform.address.$dirty || vm.formSubmitted)">Address should be between 20 to 250 characters long.</span>

		   </div>
		   <div class="form-box">
        <label>Is Active</label>
       <input type="checkbox" ng-model="vm.active" class="billing-addres-checkbox clothcheck"/>

     </div>

        <div class="register-btm-btn-box">
					<div class="submit-button">
            <input type="button" value="Save" class="register-submit-btn" ng-click=" vm.submit(userform.$valid)"/>
 					</div>
					<div class="cancel-button">
            <input type="submit" value="Cancel" class="register-cancel-btn" ui-sref="register"/>
 					</div>
				</div>

			</div>





		</div>
 </form>
		<!-- Left Form Section End Here -->



			</div>
			</div>
		</div>

	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
</div>

<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()

		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");

		})

	});
</script>