  <div class="container">

	<!-- Header Section Start Here -->
   <div class="main-header">
    	<div class="logo"><a href="#/home"><img src="assets/images/logo.png" alt=""></a></div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
     <ul>
      <li><a href="#/home" >Home</a></li>
			<li><a href="#/customerdetails">Customer Details</a></li>
			<li><a href="#/order">Order Form</a></li>
			<li><a href="#/alert" >Alerts</a></li>
			<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
				<ul>
	        <li><a href='#/register'><span>Add User</span></a></li>
	        <li><a href='#/clothtype'><span>Cloth Type</span></a></li>
					<li><a href='#/materialtype'><span>Material Type</span></a></li>
	      </ul>
			</li>
			<li><a href="#/logout">Logout</a></li>
		 </ul>
		</div>
	 </div>
	 <!-- Header Section End Here -->

	 <div class="inner-heading-bar">Add New User</div>
	 <form name="userform" novalidate>
	 <div class="main-contant-part" >
		<!-- Left Form Section Start Here -->
    <div class="order-form-left-section add-new-form">
      <div class="form-section-box form-section-box-2">

			 <div class="form-box">
			  <label>User Name:</label>
			  <input id="" name="username" ng-minlength="3" ng-maxlength="20" required type="text" ng-model="vm.name" placeholder="User Name"/>
				<span ng-show="userform.username.$error.required && (userform.username.$dirty || vm.formSubmitted)">User name must be required</span>
			  <span ng-show="userform.username.$error.minlength && (userform.username.$dirty || vm.formSubmitted)">User name length must be greater then 3</span>
				<span ng-show="userform.username.$error.maxlength && (userform.username.$dirty || vm.formSubmitted)">User name length must be less then 20</span>						
		   </div>

			 <div class="form-box">
			  <label>Type of User:</label>
					<select ng-model="vm.type" class="paragraph" required name="typeOfUser">
						  <option value="">User Type</option>
						  <option value="admin">Admin</option>
              <option value="user">User</option>
					  </select>
			 	<span ng-show="userform.typeOfUser.$invalid && (userform.typeOfUser.$dirty || vm.formSubmitted)">Type of User must be required</span>						
		   </div>

			 <div class="form-box">
			  <label>Email Address:</label>
			  <input id="username" name="emailAddress" ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/" ng-model="vm.email"  ng-minlength="10" ng-maxlength="50" required="required" type="email" placeholder="Email Address"/>
       	<span ng-show="userform.emailAddress.$error.required && (userform.emailAddress.$dirty || vm.formSubmitted)">Email Address must be required</span>	
				 <span ng-show="form.emailAddress.$error.pattern && (form.emailAddress.$dirty || vm.formSubmitted)">Enter valid email address.</span>
				<span ng-show="userform.emailAddress.$error.minlength && (userform.emailAddress.$dirty || vm.formSubmitted)">Email Address length must be greater then 10</span>
				<span ng-show="userform.emailAddress.$error.maxlength && (userform.emailAddress.$dirty || vm.formSubmitted)">Email Address length must be less then 50</span>						
		  					
		   </div>

			 <div class="form-box">
			  <label>Password:</label>
			     <input id="" name="password"  ng-minlength="3" ng-maxlength="20" required="required" ng-change="vm.confirm()"  type="password" placeholder="Password" ng-model="vm.password1"/>
       	<span ng-show="userform.password.$error.required && (userform.password.$dirty || vm.formSubmitted)">Password must be required</span>
				 	<span ng-show="userform.password.$error.minlength && (userform.password.$dirty || vm.formSubmitted)">Password length must be greater then 3</span>
				<span ng-show="userform.password.$error.maxlength && (userform.password.$dirty || vm.formSubmitted)">Password length must be less then 20</span>						
		  								
		   </div>

			  <div class="form-box">
			  <label>Confirm Password:</label>
			     <input id="" name="confirm" required="required"  ng-model="vm.password" type="password" placeholder="Confirm Password" ng-change="vm.confirm()"/>
       	<span ng-show="userform.confirm.$invalid && (userform.confirm.$dirty || vm.formSubmitted)">Confirm Password must be required</span>	
				 <span ng-if="vm.check">Confirm password does not match</span>						
		   </div>


         <div class="form-box">
			  <label>Phone Number:</label>
			  <input id="" name="phonenumber" required="required" type="text" ng-minlength="10" ng-pattern="/^[0-9]{1,10}$/" ng-model="vm.number" placeholder="Phone Number" />
		   	<span ng-show="userform.phonenumber.$error.required && (userform.phonenumber.$dirty || vm.formSubmitted)">Phone Number must be required</span>
				 <span ng-show="userform.phonenumber.$error.pattern && (userform.phonenumber.$dirty || vm.formSubmitted)">Not a valid number!</span>
				 <span ng-show="userform.phonenumber.$error.minlength && (userform.phonenumber.$dirty || vm.formSubmitted)">Phone number must be 10</span>
				 											
		   </div>

        <div class="form-box">
			  <label>Address:</label>
			  <textarea rows="4" cols="50"  placeholder="Address" ng-minlength="20" ng-maxlength="100" ng-model="vm.address" name="address" required></textarea>
			 	<span ng-show="userform.address.$error.required && (userform.address.$dirty || vm.formSubmitted)">Adress must be required</span>
				 	<span ng-show="userform.address.$error.minlength && (userform.address.$dirty || vm.formSubmitted)">Adress length must be greater then 20</span>
				<span ng-show="userform.address.$error.maxlength && (userform.address.$dirty || vm.formSubmitted)">Adress length must be less then 100</span>						
		  								
		   </div>

        <div class="register-btm-btn-box">
					<div class="submit-button">
            <input type="button" value="Submit" class="register-submit-btn" ng-click=" vm.submit(userform)"/>
 					</div>
					<div class="cancel-button">
            <input type="submit" value="Cancel" class="register-cancel-btn" ui-sref="register"/>
 					</div>
				</div>

			</div>





		</div>
		<!-- Left Form Section End Here -->


	 </div>
	 </form>
	 <!-- Footer Section Start Here -->
	 <div class="footer-section">Copyright © 2016 ProT Systems. All rights reserved.</div>
	 <!-- Footer Section End Here -->
	</div>

 <script type="text/javascript">
         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("active");

		   })

});
</script>