<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/customerdetails">Customers</a></li>
				<li><a href="#/order" class="active">Create Order</a></li>
				<li><a href="#/alert">Alerts</a></li>
				<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
					<ul>
						<li><a href='#/register'><span>Manage Users</span></a></li>
						<li><a href='#/clothtype'><span>Manage Designs</span></a></li>
						<li><a href='#/materialtype'><span>Manage Material</span></a></li>
					</ul>
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Order Details</div>

	<div class="main-contant-part minpageheight">
		<!-- Customer Details page Section Start Here -->
		<div class="customer-detail-page-contant">



		 <p>
   <div class="search-box-main">
     <input class="serchInput serchInput-mobile" type="text" ng-model="vm.search" placeholder="Search">

	   <select class="outside2" ng-model="vm.customerStatus" placeholder="Search by Name" ng-options="data for data in vm.status"
						required name="customeruser">
				 <option value="">Search by Status</option></select>
     <div class="right-add-new-button"><a href="#/addorder">Add New</a></div>

		</div>
		</p>

			<div class="details-table">

				<h2 class="no-record-found-text" ng-hide="vm.temp.length">No record found</h2>

				<table ng-show="vm.temp.length" class="table-part" border="0" cellspacing="0" cellpadding="0">
					<tr class="top-purpal-color-row">
						<th>
							<a href="" ng-click="vm.order('customerName')">
								<font color="#337ab7">Customer Name</font>&nbsp
								<span ng-show="vm.predicate == 'customerName'">
                <span ng-show="!vm.reverse">
                    <img src="assets/images/up-arrow-1.png" alt="Zika Report">
                </span>
								<span ng-show="vm.reverse">
                   <img src="assets/images/down-arrow-1.png" alt="Zika Report">
                </span>
								</span>
							</a>
						</th>
						<th>
								<a href="" ng-click="vm.order('orderdate')">
								<font>Order Date</font>&nbsp
								<span ng-show="vm.predicate == 'orderdate'">
                <span ng-show="!vm.reverse">
                    <img src="assets/images/up-arrow-1.png" alt="Zika Report">
                </span>
								<span ng-show="vm.reverse">
                   <img src="assets/images/down-arrow-1.png" alt="Zika Report">
                </span>
								</span>
							</a>
						</th>
						<th>
								<a href="" ng-click="vm.order('date')">
								<font>Delivery Date</font>&nbsp
								<span ng-show="vm.predicate == 'date'">
                <span ng-show="!vm.reverse">
                    <img src="assets/images/up-arrow-1.png" alt="Zika Report">
                </span>
								<span ng-show="vm.reverse">
                   <img src="assets/images/down-arrow-1.png" alt="Zika Report">
                </span>
								</span>
							</a>
						</th>
						<b><th>Status</th></b>
					</tr>

					<tr dir-paginate="data in vm.temp=(vm.type | filter:vm.customerStatus | filter:vm.search) |itemsPerPage:10 | orderBy:vm.predicate:vm.reverse"ng-class="{
                      'some':$index%2 == 0,
                      'table-tr-alternate-color':$index%2 != 0
                  }">
						<td class="top-purpal-color-row2"><a ng-click="vm.sendData(data)" class="customer-name-link"><b>{{data.customerName}}</b></a></td>
						<td class="top-purpal-color-row2">{{data.orderdate | date:"dd/MM/yyyy"}}</td>
						<td class="top-purpal-color-row2">{{data.date}}</td>
						<td class="top-purpal-color-row2">{{data.status}}</td>
					</tr>

				</table>
			</div>
		</div>
		<!-- Customer Details page Section End Here -->
		<div class="paging">
			<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
			</dir-pagination-controls>
		</div>
	</div>

	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
		
</div>

<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()

		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");

		})

	});
</script>