<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
			<div class="logo"><a href="#/home"><img src="assets/images/logo.png" alt=""></a></div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/customerdetails">Customer Details</a></li>
				<li><a href="#/order" class="active">Create Order</a></li>
				<li><a href="#/alert">Alerts</a></li>
				<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
					<ul>
	        <li><a href='#/register'><span>Manage Users</span></a></li>
	        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
					<li><a href='#/materialtype'><span>Manage Material</span></a></li>
	      </ul>
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Order Details</div>
	<form name="orderform" novalidate>
	<div class="main-contant-part">
		<div class="form-section-box">
	
	
		<!-- Right Address Section Start Here -->
		<!--<div class="order-form-right-address-section">
			<div class="form-address-heading-rt">Customer Billing Address </div>
			<p>
				{{vm.address}}
			</p>
		</div>-->
		<!-- Right Address Section End Here -->

		<!-- Left Form Section Start Here -->
		<!--<div class="order-form-left-section">-->




			<div class="form-section-box">
				<!--<div class="form-heading">Customer Details</div>-->

				<div class="form-box">
					<label>Name</label>
					<select ng-model="vm.name" ng-change="vm.selectCustomer(vm.name)" ng-options="data as data.customerName for data in vm.customer "
						required name="customeruser">
				 <option value="">-- Please Select --</option></select>

					</select>
					<span ng-show="orderform.customeruser.$invalid && (orderform.customeruser.$touched || vm.formSubmitted)">Customer name is required.</span>
				</div>

				<div class="form-box"><label>Contact Number : </label>{{vm.contact}}</div>

				<div class="form-box"><label>Address : </label>{{vm.address}}</div>

				<!--<div class="form-box">
					<label>Contact Number</label>
					<input id="" name="" ng-disabled="vm.disable" required="required" ng-model="vm.contact" type="text" placeholder="Contact Number" />
				</div>-->

				<!--<div class="form-box">
					<label> Email Address</label>
					<input id="" name="" ng-disabled="vm.disable" required="required" type="text" ng-model="vm.email" placeholder="Email Address" />
				</div>-->
				<div ng-repeat="item in vm.items">
				<div class="form-box">
					<label>Date of Order</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
								<input class="inputdatipicker " id="mydate"  ng-model="vm.order[$index].orderdate" name="orderdate{{$index}}" required="required"
										ng-change="vm.change(vm.order[$index].orderdate,$index) "  type="text" placeholder="Date of Order" />
							</datepicker>
							<span ng-show="orderform['orderdate'+$index].$error.required && (orderform['orderdate'+$index].$dirty || vm.formSubmitted)">Order Date of Order is required.</span>
				</div>
				</div>
			</div>

				<div ng-repeat="item in vm.items">
					<div class="form-section-box">
						<div class="form-heading"></div>

						<div style="margin-left: 0%;" class="add-next-btn-box">
							<div class="submit-button">
								<input type="button" value="Add Product" ng-click="" />
							</div>
						</div>

			<div class="form-box">
			<table class="table" border="1" cellspacing="0" cellpadding="0">
			<tr>
				<th>Design</th>
				<th>Delivery Date</th>
				<th>Stiching Date</th>
				<th>Alert Date</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			<tr>
				<th>
					<div class="form-box">
							
							<select ng-model="vm.order[$index].type" name="clothtype{{$index}}" ng-change="vm.typeSelect(vm.order[$index].type)" ng-options="data as data.title for data in vm.type | filter:data.isActive='true'"
								required>
								<option value="">-- Please Select --</option></select>
							
					</div>
				</th>
				<th>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
							<!--New change 00 --index inject -->
								<input class="inputdatipicker" ng-model="vm.order[$index].deliverydate" 	ng-change="vm.change(vm.order[$index].orderdate,$index)"
									id="" name="deliverydate{{$index}}" required="required" type="text" placeholder="Date of Delivery" />
							</datepicker>
						
				</th>
				<th>
						<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
								<input class="inputdatipicker "   ng-model="vm.order[$index].stitchingdate" name="stitchingdate{{$index}}" required="required"
										ng-change="vm.stitchingchange(vm.order[$index].stitchingdate,$index)" type="text" placeholder="Date of Stitching" />
							</datepicker>
							
							
				</th>
				<th>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
								<input class="inputdatipicker" ng-model="vm.order[$index].alertday"  ng-change="vm.alertchange(vm.order[$index].orderdate,vm.order[$index].deliverydate,vm.order[$index].alertday)"
									id="" name="alertdate{{$index}}" required type="text" placeholder="Date of Alert" />
							</datepicker>
							
				</th>
				<th><input class="addorder-amount-icon" id="" name="amount{{$index}}" ng-pattern="/^[0-9]{1,10}$/" ng-maxlength="10" required="required" ng-model="vm.order[$index].amount"
								type="text" placeholder="Amount" />
								
						
								</th>
								
				<th>
					<select class="outside" ng-model="data.status" name="status" required>
							<option selected="selected" value="New">New</option>
							<option value="In Progress">Stiching</option>
							<option value="Stiching">Finish</option>
							<option value="Finish">Cancel</option>
					</select>
				</th>
				<th width="13%">
					<img style="margin-left: -2px;" src="assets/images/inr-icon.png" alt="">
					<img style="margin-left: -2px;" src="assets/images/inr-icon.png" alt="">
					<a ng-click="vm.delete"><img style="margin-left: -2px;" src="assets/images/inr-icon.png" alt=""></a>
				</th>
			</tr>
		</table>
		
	</div>	
					</div>
					<div style="color: red">
						<span ng-show="orderform['clothtype'+$index].$invalid && (orderform['clothtype'+$index].$touched || vm.formSubmitted)">Design is required.<br></span>
						
						<span ng-show="orderform['deliverydate'+$index].$error.required && (orderform['deliverydate'+$index].$dirty || vm.formSubmitted)">Delivery date must be greater than Date of Order.<br></span>
						
						<span ng-if="vm.date1">Delivery date should be greater than Order date.<br></span>
						<span ng-if="vm.date4">Delivery date should be greater than Stitching date.<br></span>
						<span ng-show="orderform['stitchingdate'+$index].$error.required && (orderform['stitchingdate'+$index].$dirty || vm.formSubmitted)">Stitching Date of Order is required.<br></span>
						<span ng-if="vm.tempalert">Stiching date should be  greater tnan Order date.<br></span>

						<span ng-show="orderform['alertdate'+$index].$error.required && (orderform['alertdate'+$index].$dirty || vm.formSubmitted)">Alert Date is required.<br></span>
						<span ng-if="vm.date2">Alert Date should be greater than Order date.<br></span>
						<span ng-if="vm.date3">Alert Date should be greater than Delivery date.<br></span>

						<span ng-show="orderform['amount'+$index].$error.required && (orderform['amount'+$index].$dirty || vm.formSubmitted)">Amount is required.<br></span>
						<span ng-show="orderform['amount'+$index].$error.pattern && (orderform['amount'+$index].$dirty || vm.formSubmitted)">Amount can only contain numeric values.<br></span>
						<span ng-show="orderform['amount'+$index].$error.maxlength && (orderform['amount'+$index].$dirty || vm.formSubmitted)">Amount should not be greater than 10 digits.<br></span>
					</div>
					<div style="margin-left: 0%;" class="add-next-btn-box">
							<div class="submit-button">
								<input type="submit" value="Submit" ng-click="vm.final(orderform)" />
							</div>
						</div>

				</div>

		</div>
		<!-- Left Form Section End Here -->


	</div>
	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
	</form>
	<script type="text/javascript">

		// 	var myDate = new Date();
    // var month = myDate.getMonth() + 1;
    // var prettyDate = myDate.getDate() + '/' + month + '/' + myDate.getFullYear();
    // $("#mydate").val(prettyDate);

         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("active");

		   })

});
</script>

