<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo"><img src="assets/images/logo.png" alt=""></div>
	<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
     <ul>
      <li><a href="#/home" >Home</a></li>
			<li><a href="#/customerdetails">Customer Details</a></li>
			<li><a href="#/order"  class="active">Order Form</a></li>
			<li><a href="#/alert">Alerts</a></li>
			<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
				<ul>
	        <li><a href='#/register'><span>Add User</span></a></li>
	        <li><a href='#/clothtype'><span>Cloth Type</span></a></li>
					<li><a href='#/materialtype'><span>Material Type</span></a></li>
	      </ul>
			</li>
			<li><a href="#/logout">Logout</a></li>
		 </ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Order Form</div>

	<div class="main-contant-part">

			<!-- Right Address Section Start Here -->
		<div class="order-form-right-address-section">
			<div class="form-address-heading-rt">Customer Billing Address <span><a href="#"><img src="assets/images/edit-icon.png" title="Edit" alt="Edit"></a></span></div>
			<p>
				A-1, NRI Tower,<br> Opp. Pride Hotel, Judges Bunglow Road,<br> Satellite, Ahmedabad-380054. India<br> Phone : 079-40372200
			</p>
		</div>
		<!-- Right Address Section End Here -->

		<!-- Left Form Section Start Here -->
		<div class="order-form-left-section">
			<div class="form-section-box">
				<div class="form-heading">Customer Details</div>

				<div class="form-box" >
					<label>Name:</label>
					<select ng-model="vm.name" ng-change="vm.selectCustomer(vm.name)" ng-options="data as data.customerName for data in vm.customer">
				 <option value="">-- Please Select --</option></select>
			  </select>
				</div>

				<div class="form-box">
					<label>Contact Number:</label>
					<input id="" name="" required="required" ng-model="vm.contact" type="text" placeholder="Contact Number" />
				</div>

				<div class="form-box">
					<label>Email Id:</label>
					<input id="" name="" required="required" type="text" ng-model="vm.email" placeholder="Email Id" />
				</div>
			</div>


			<div class="form-section-box">
				<div class="form-heading">Cloth Description</div>

				<div class="form-box">
					<label>Type:</label>
					<select ng-model="vm.order.type" ng-change="vm.typeSelect(vm.order.type)" ng-options="data as data.title for data in vm.type">
					<option value="">-- Please Select --</option></select>
				</div>

				<div class="form-box">
					<label>Material Source:</label>
					<select ng-model="vm.order.materialtype" ng-options="data as data.materialtype for data in vm.material">
				  <option value="">-- Please Select --</option></select>
			  </select>
				</div>

				<div class="form-box">
					<label>Choose Color:</label>
					<input id="" name="" ng-model="vm.order.color" required="required" type="text" placeholder="Choose Color" />
				</div>

				<div class="form-box">
					<label>Customization:</label>
					<div class="customization-check-box">
						<input type="checkbox" ng-model="vm.checked" name="vehicle" value="" class="checkbox">
						<textarea ng-disabled="!vm.checked" ng-model="vm.order.customization" class="customization-check-box-textarea" rows="4" cols="50" placeholder="Customization Description"></textarea>
					</div>
				</div>

				<div class="form-box">
					<label>Cloth Description:</label>
					<textarea  rows="4" cols="50" ng-model="vm.order.cloth" placeholder="Cloth Description"></textarea>
				</div>

				<div class="form-box">
					<label>Date of Order:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.orderdate" id="" name="" required="required" type="text" placeholder="Date of Order" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Date of Delivery:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.date" id="" name="" required="required" type="text" placeholder="Date of Delivery" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Alert Day:</label>
					<input id="" name="" required="required" ng-model="vm.order.alertday" type="text" placeholder="Alert Day" />
				</div>

				<div class="form-box">
					<label>Amount:</label>
					<input id="" name="" required="required" ng-model="vm.order.amount" type="text" placeholder="Amount" />
				</div>

			</div>

			<div class="form-section-box" ng-if="vm.clothtype">
				<div class="form-heading">Measurement</div>
				<div class="measurement-li-box">
					<ul ng-repeat="type in vm.clothtype">
						{{$index}}
						<li>{{type}} <span><input ng-model="vm.order.measurement[$index]" class="measurement-input" name="" required="required" type="text" placeholder="Add Size" /><img src="assets/images/inc-icon.png" alt=""></span></li>
					</ul>
				</div>
			</div>
            
			<div class="add-next-btn-box">
			<div class="submit-button">
				<input type="submit" value="Save" ng-click="vm.final(vm.order)" />
			</div>
			<div class="submit-button">
				<input class="add-next-button" type="submit" value="Add Next" ng-click="vm.showNext1(vm.order)" />
			</div>
			<div class="cancel-button">
				<input type="submit" value="Cancel" />
			</div>
			</div>

		</div><br/><br/>
		<!-- Left Form Section End Here -->

		<!-- Left Form Section Start Here -->
		<div class="order-form-left-section" ng-if="vm.next1">
			
			<div class="form-section-box">
				<div class="form-heading">Cloth Description</div>

				<div class="form-box">
					<label>Type:</label>
					<select ng-model="vm.order.type" ng-change="vm.typeSelect(vm.order.type)" ng-options="data as data.title for data in vm.type">
					<option value="">-- Please Select --</option></select>
				</div>

				<div class="form-box">
					<label>Material Source:</label>
					<select ng-model="vm.order.materialtype" ng-options="data as data.materialtype for data in vm.material">
				  <option value="">-- Please Select --</option></select>
			  </select>
				</div>

				<div class="form-box">
					<label>Choose Color:</label>
					<input id="" name="" ng-model="vm.order.color" required="required" type="text" placeholder="Choose Color" />
				</div>

				<div class="form-box">
					<label>Customization:</label>
					<div class="customization-check-box">
						<input type="checkbox" ng-model="vm.checked" name="vehicle" value="" class="checkbox">
						<textarea ng-disabled="!vm.checked" ng-model="vm.order.customization" class="customization-check-box-textarea" rows="4" cols="50" placeholder="Customization Description"></textarea>
					</div>
				</div>

				<div class="form-box">
					<label>Cloth Description:</label>
					<textarea  rows="4" cols="50" ng-model="vm.order.cloth" placeholder="Cloth Description"></textarea>
				</div>

					<div class="form-box">
					<label>Date of Order:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.orderdate" id="" name="" required="required" type="text" placeholder="Date of Order" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Date of Delivery:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.date" id="" name="" required="required" type="text" placeholder="Date of Delivery" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Alert Day:</label>
					<input id="" name="" required="required" ng-model="vm.order.alertday" type="text" placeholder="Alert Day" />
				</div>

				<div class="form-box">
					<label>Amount:</label>
					<input id="" name="" required="required" ng-model="vm.order.amount" type="text" placeholder="Amount" />
				</div>

			</div>

			<div class="form-section-box" ng-if="vm.clothtype">
				<div class="form-heading">Measurement</div>
				<div class="measurement-li-box">
					<ul ng-repeat="type in vm.clothtype">
						{{$index}}
						<li>{{type}} <span><input ng-model="vm.order.measurement[$index]" class="measurement-input" name="" required="required" type="text" placeholder="Add Size" /><img src="assets/images/inc-icon.png" alt=""></span></li>
					</ul>
				</div>
			</div>
            
			<div class="add-next-btn-box">
			<div class="submit-button">
				<input type="submit" value="Save" ng-click="vm.final(vm.order)"/>
			</div>
			<div class="submit-button">
				<input class="add-next-button" type="submit" value="Add Next" ng-click="vm.showNext2(vm.order)" />
			</div>
			<div class="cancel-button">
				<input type="submit" value="Cancel" />
			</div>
			</div>

		</div><br/><br/>
		<!-- Left Form Section End Here -->

		<!-- Left Form Section Start Here -->
		<div class="order-form-left-section" ng-if="vm.next2">
		
			<div class="form-section-box">
				<div class="form-heading">Cloth Description</div>

				<div class="form-box">
					<label>Type:</label>
					<select ng-model="vm.order.type" ng-change="vm.typeSelect(vm.order.type)" ng-options="data as data.title for data in vm.type">
					<option value="">-- Please Select --</option></select>
				</div>

				<div class="form-box">
					<label>Material Source:</label>
					<select ng-model="vm.order.materialtype" ng-options="data as data.materialtype for data in vm.material">
				  <option value="">-- Please Select --</option></select>
			  </select>
				</div>

				<div class="form-box">
					<label>Choose Color:</label>
					<input id="" name="" ng-model="vm.order.color" required="required" type="text" placeholder="Choose Color" />
				</div>

				<div class="form-box">
					<label>Customization:</label>
					<div class="customization-check-box">
						<input type="checkbox" ng-model="vm.checked" name="vehicle" value="" class="checkbox">
						<textarea ng-disabled="!vm.checked" ng-model="vm.order.customization" class="customization-check-box-textarea" rows="4" cols="50" placeholder="Customization Description"></textarea>
					</div>
				</div>

				<div class="form-box">
					<label>Cloth Description:</label>
					<textarea  rows="4" cols="50" ng-model="vm.order.cloth" placeholder="Cloth Description"></textarea>
				</div>

				<div class="form-box">
					<label>Date of Order:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.orderdate" id="" name="" required="required" type="text" placeholder="Date of Order" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Date of Delivery:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.date" id="" name="" required="required" type="text" placeholder="Date of Delivery" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Alert Day:</label>
					<input id="" name="" required="required" ng-model="vm.order.alertday" type="text" placeholder="Alert Day" />
				</div>

				<div class="form-box">
					<label>Amount:</label>
					<input id="" name="" required="required" ng-model="vm.order.amount" type="text" placeholder="Amount" />
				</div>

			</div>

			<div class="form-section-box" ng-if="vm.clothtype">
				<div class="form-heading">Measurement</div>
				<div class="measurement-li-box">
					<ul ng-repeat="type in vm.clothtype">
						{{$index}}
						<li>{{type}} <span><input ng-model="vm.order.measurement[$index]" class="measurement-input" name="" required="required" type="text" placeholder="Add Size" /><img src="assets/images/inc-icon.png" alt=""></span></li>
					</ul>
				</div>
			</div>
            
			<div class="add-next-btn-box">
			<div class="submit-button">
				<input type="submit" value="Save" ng-click="vm.final(vm.order)"/>
			</div>
			<div class="submit-button">
				<input class="add-next-button" type="submit" value="Add Next" ng-click="vm.showNext3(vm.order)" />
			</div>
			<div class="cancel-button">
				<input type="submit" value="Cancel" />
			</div>
			</div>

		</div><br/><br/>
		<!-- Left Form Section End Here -->

		<!-- Left Form Section Start Here -->
		<div class="order-form-left-section" ng-if="vm.next3">
		
			<div class="form-section-box">
				<div class="form-heading">Cloth Description</div>

				<div class="form-box">
					<label>Type:</label>
					<select ng-model="vm.order.type" ng-change="vm.typeSelect(vm.order.type)" ng-options="data as data.title for data in vm.type">
					<option value="">-- Please Select --</option></select>
				</div>

				<div class="form-box">
					<label>Material Source:</label>
					<select ng-model="vm.order.materialtype" ng-options="data as data.materialtype for data in vm.material">
				  <option value="">-- Please Select --</option></select>
			  </select>
				</div>

				<div class="form-box">
					<label>Choose Color:</label>
					<input id="" name="" ng-model="vm.order.color" required="required" type="text" placeholder="Choose Color" />
				</div>

				<div class="form-box">
					<label>Customization:</label>
					<div class="customization-check-box">
						<input type="checkbox" ng-model="vm.checked" name="vehicle" value="" class="checkbox">
						<textarea ng-disabled="!vm.checked" ng-model="vm.order.customization" class="customization-check-box-textarea" rows="4" cols="50" placeholder="Customization Description"></textarea>
					</div>
				</div>

				<div class="form-box">
					<label>Cloth Description:</label>
					<textarea  rows="4" cols="50" ng-model="vm.order.cloth" placeholder="Cloth Description"></textarea>
				</div>

					<div class="form-box">
					<label>Date of Order:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.orderdate" id="" name="" required="required" type="text" placeholder="Date of Order" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Date of Delivery:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.date" id="" name="" required="required" type="text" placeholder="Date of Delivery" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Alert Day:</label>
					<input id="" name="" required="required" ng-model="vm.order.alertday" type="text" placeholder="Alert Day" />
				</div>

				<div class="form-box">
					<label>Amount:</label>
					<input id="" name="" required="required" ng-model="vm.order.amount" type="text" placeholder="Amount" />
				</div>

			</div>

			<div class="form-section-box" ng-if="vm.clothtype">
				<div class="form-heading">Measurement</div>
				<div class="measurement-li-box">
					<ul ng-repeat="type in vm.clothtype">
						{{$index}}
						<li>{{type}} <span><input ng-model="vm.order.measurement[$index]" class="measurement-input" name="" required="required" type="text" placeholder="Add Size" /><img src="assets/images/inc-icon.png" alt=""></span></li>
					</ul>
				</div>
			</div>
            
			<div class="add-next-btn-box">
			<div class="submit-button">
				<input type="submit" value="Save"  ng-click="vm.final(vm.order)" />
			</div>
			<div class="submit-button">
				<input class="add-next-button" type="submit" value="Add Next" ng-click="vm.showNext4(vm.order)" />
			</div>
			<div class="cancel-button">
				<input type="submit" value="Cancel"/>
			</div>
			</div>

		</div><br/><br/>
		<!-- Left Form Section End Here -->

		<!-- Left Form Section Start Here -->
		<div class="order-form-left-section" ng-if="vm.next4">
		
			<div class="form-section-box">
				<div class="form-heading">Cloth Description</div>

				<div class="form-box">
					<label>Type:</label>
					<select ng-model="vm.order.type" ng-change="vm.typeSelect(vm.order.type)" ng-options="data as data.title for data in vm.type">
					<option value="">-- Please Select --</option></select>
				</div>

				<div class="form-box">
					<label>Material Source:</label>
					<select ng-model="vm.order.materialtype" ng-options="data as data.materialtype for data in vm.material">
				  <option value="">-- Please Select --</option></select>
			  </select>
				</div>

				<div class="form-box">
					<label>Choose Color:</label>
					<input id="" name="" ng-model="vm.order.color" required="required" type="text" placeholder="Choose Color" />
				</div>

				<div class="form-box">
					<label>Customization:</label>
					<div class="customization-check-box">
						<input type="checkbox" ng-model="vm.checked" name="vehicle" value="" class="checkbox">
						<textarea ng-disabled="!vm.checked" ng-model="vm.order.customization" class="customization-check-box-textarea" rows="4" cols="50" placeholder="Customization Description"></textarea>
					</div>
				</div>

				<div class="form-box">
					<label>Cloth Description:</label>
					<textarea  rows="4" cols="50" ng-model="vm.order.cloth" placeholder="Cloth Description"></textarea>
				</div>

				<div class="form-box">
					<label>Date of Order:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.orderdate" id="" name="" required="required" type="text" placeholder="Date of Order" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Date of Delivery:</label>
					<datepicker class="datepickerbx" date-format="dd/MM/yyyy">
					<input class="inputdatipicker" ng-model="vm.order.date" id="" name="" required="required" type="text" placeholder="Date of Delivery" />
					<img class="date-icon-right" src="assets/images/date-icon.png" alt="">
				</div>

				<div class="form-box">
					<label>Alert Day:</label>
					<input id="" name="" required="required" ng-model="vm.order.alertday" type="text" placeholder="Alert Day" />
				</div>

				<div class="form-box">
					<label>Amount:</label>
					<input id="" name="" required="required" ng-model="vm.order.amount" type="text" placeholder="Amount" />
				</div>

			</div>

			<div class="form-section-box" ng-if="vm.clothtype">
				<div class="form-heading">Measurement</div>
				<div class="measurement-li-box">
					<ul ng-repeat="type in vm.clothtype">
						{{$index}}
						<li>{{type}} <span><input ng-model="vm.order.measurement[$index]" class="measurement-input" name="" required="required" type="text" placeholder="Add Size" /><img src="assets/images/inc-icon.png" alt=""></span></li>
					</ul>
				</div>
			</div>
            
			<div class="add-next-btn-box">
			<div class="submit-button">
				<input type="submit" value="Save" ng-click="vm.final(vm.order)"/>
			</div>
			<div class="cancel-button">
				<input type="submit" value="Cancel" />
			</div>
			</div>

		</div><br/><br/>
		<!-- Left Form Section End Here -->
	
	</div>





	<!-- Footer Section Start Here -->
						<div class="footer-section">Copyright © 2016 ProT Systems. All rights reserved.</div>
						<!-- Footer Section End Here -->
					</div>

 <script type="text/javascript">
         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("active");

		   })

});
</script>