

  <div class="centered">
		<div id="login" class="animate form">
        <form autocomplete="on" style="padding-top:20px;" name="form" novalidate>
          <h1><strong></strong>Reset Password</h1>
          <p class="paragraph">
            <input id="" focus="true" name="pass" required ng-minlength="3" ng-model="vm.password" ng-maxlength="15" type="password" ng-change="vm.check()" placeholder="New Password" />
            <span class="span-error" ng-show="form.pass.$error.required && (form.pass.$dirty || vm.formSubmitted)">Password is required.</span>
            <span class="span-error" ng-show="form.pass.$error.minlength && (form.pass.$dirty || vm.formSubmitted)">Password length must be greater than 3 characters.</span>
            <span class="span-error" ng-show="form.pass.$error.maxlength && (form.pass.$dirty || vm.formSubmitted)">Password length must be less than 15 characters.</span>
          </p>
					<p class="paragraph">
            <input id=""  name="password2" required="required" ng-model="vm.newpassword" ng-change="vm.check()" type="password" placeholder="Confirm Password" />
            <span class="span-error" ng-if="vm.passsame">Confirm password does not match</span>
            <span class="span-error" ng-show="form.password2.$error.required && (form.password2.$dirty || vm.formSubmitted)">Confirm password is required.</span>
          </p>

          <p class="login button" style="text-align: center;">
            <input type="submit" value="Submit" ng-click="vm.change(form)" style="text-align: center;" />
            <input type="cancel" value="Cancel" ng-click="vm.cancel()" style="text-align: center;background: #414141; border: 1px solid #414141;" />
        	</p>

      </form>
    </div>
	</div>
