

  <div class="centered">
		<div id="login" class="animate form">
        <form autocomplete="on" style="padding-top:20px;">
          <h1><strong></strong>Reset Password</h1>
          <p class="paragraph">
            <input id="password" name="password" required="required" ng-model="vm.oldpassword" type="password" placeholder="Old Password" />
          </p>
          <p class="paragraph">
            <input id="password" name="password" required="required" type="password" placeholder="New Password" />
          </p>
					<p class="paragraph">
            <input id="password" name="password" required="required" ng-model="vm.newpassword" type="password" placeholder="Confirm Password" />
          </p>

          <p class="login button" style="text-align: center;">
            <input type="submit" value="Submit" ng-click="vm.change()" style="text-align: center;" />
 					</p>

      </form>
    </div>
	</div>