<div class="container">

  <!-- Header Section Start Here -->
  <div class="main-header">
    	<div class="logo"><a href="#/home"><img src="assets/images/logo.png" alt=""></a></div>
    <span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
    <div class="navbar">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/customerdetails" class="active">Customers</a></li>
        <li><a href="#/order">Orders</a></li>

        <!--<li><a href="#/alert">Alerts</a></li>-->
        <li><a href="#/register">Settings</a>
                    <!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Material Types</span></a></li>
                    </ul>-->
                </li>
        <li><a href="#/logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <!-- Header Section End Here -->

  <div class="inner-heading-bar">Edit Customer Details</div>

  <div class="main-contant-part">
    <!-- Left Form Section Start Here -->
    <form name="form" novalidate>
    <div class="order-form-left-section add-new-form">

      <div class="form-section-box">
        <div class="form-heading">Basic Information</div>

          <div class="form-box">
            <label><em id="mandatory" style="color:Red">*</em>&nbsp;Customer Name
                                                </label>
            <input id="" ng-minlength="3" ng-maxlength="20" ng-required="true" ng-model="vm.data.customerName" name="customerName" type="text"
              placeholder="Customer Name" />
            <span ng-show="form.customerName.$error.required && (form.customerName.$dirty || vm.formSubmitted)">Customer Name is required.</span>
            <span ng-show="(form.customerName.$error.minlength || form.customerName.$error.maxlength) && (form.customerName.$dirty || vm.formSubmitted)">Customer Name should be between 2 to 20 characters long.</span>

          </div>
          <div class="form-box">
            <label><em id="mandatory" style="color:Red">*</em>&nbsp;Gender</label>
            <select ng-model="vm.data.gender" class="paragraph" required name="gender" >
						  <option value="">Please Select</option>
						  <option value="male">Male</option>
              <option value="female">Female</option>
					  </select>
            <span ng-show="form.gender.$error.required && (form.gender.$dirty || vm.formSubmitted)">Gender selection is required.</span>
          </div>


          <div class="form-box">
            <label><em id="mandatory" style="color:Red">*</em>&nbsp;Birth Date</label>
            <datepicker class="datepickerbx" date-format="dd/MM/yyyy">
              <input class="inputdatipicker" id="" ng-model="vm.data.birthDate" name="birthDate" ng-change="vm.birthdate(vm.data.birthDate)" type="text" placeholder="Select Date"/>
            </datepicker>
             <span ng-show="form.birthDate.$error.required && (form.gender.$dirty || vm.formSubmitted)">Birth date is required.</span>
            <span ng-if="vm.date1">Birth Date cannot be a future date.</span>
          </div>

          <div class="form-box">
            <label>Anniversary</label>
            <datepicker class="datepickerbx" date-format="dd/MM/yyyy">
              <input class="inputdatipicker" id="" ng-model="vm.data.anniversaryDate" name="" ng-change="vm.anniversarydate(vm.data.anniversaryDate)" type="text" placeholder="Select Date"
              />
            </datepicker>
             <span ng-if="vm.date2">Anniversary Date cannot be a future date.</span>
          </div>

      </div>


      <div class="form-section-box">
        <div class="form-heading">Contact Information</div>
<!--
        <div class="form-box">
          <label><em id="mandatory" style="color:Red">*</em>&nbsp;Mobile Number</label>
          <input id="" ng-model="vm.data.mobileNumber" ng-pattern="/^[0-9]{1,10}$/" name="mobilenumber" ng-minlength="10" ng-maxlength="11" required="required" type="text" placeholder="Mobile Number" />
          <span ng-show="form.mobilenumber.$error.required && (form.mobilenumber.$dirty || vm.formSubmitted)">Mobile number is required.</span>
          <span ng-show="form.mobilenumber.$error.minlength && (form.mobilenumber.$dirty || vm.formSubmitted)">Mobile Number should be exactly 10 digits.</span>
          <span ng-show="form.mobilenumber.$error.maxlength && (form.mobilenumber.$dirty || vm.formSubmitted)">Mobile Number should be exactly 10 digits.</span>
           <span ng-show="form.mobilenumber.$error.pattern && (form.mobilenumber.$dirty || vm.formSubmitted)">Mobile Number should be digits.</span>
        </div>

        <div class="form-box">
          <label>Phone Number</label>
          <input id="" ng-model="vm.data.phoneNumber" ng-pattern="/^[0-9]{1,11}$/" name="phonenumber" ng-minlength="11" ng-maxlength="12"  type="text" placeholder="Phone Number" />
          <span ng-show="form.phonenumber.$error.pattern && (form.phonenumber.$dirty || vm.formSubmitted)">Phone Number should be exactly 10 digits.</span>
          <span ng-show="form.phonenumber.$error.minlength && (form.phonenumber.$dirty || vm.formSubmitted)">Phone Number should be exactly 10 digits.</span>
          <span ng-show="form.phonenumber.$error.maxlength && (form.phonenumber.$dirty || vm.formSubmitted)">Phone Number should be digits.</span>
        </div>-->

   <div class="form-box">
          <label><em id="mandatory" style="color:Red">*</em>&nbsp;Mobile Number</label>
          <input id="" ng-model="vm.data.mobileNumber" ng-pattern="/^[0-9]{1,10}$/" name="mobilenumber" ng-minlength="10" ng-maxlength="10" required="required" type="text" placeholder="Mobile Number" />
          <span ng-show="form.mobilenumber.$error.required && (form.mobilenumber.$dirty || vm.formSubmitted)">Mobile Number is required.</span>
          <span ng-show="(form.mobilenumber.$error.pattern || form.mobilenumber.$error.minlength) && (form.mobilenumber.$dirty || vm.formSubmitted)">Please enter a valid 10-digit mobile number.</span>

        </div>

        <div class="form-box">
          <label> Phone Number</label>
          <input id="" ng-model="vm.data.phoneNumber" ng-pattern="/^[0-9]{1,11}$/" name="phonenumber" ng-minlength="10" ng-maxlength="10"  type="text" placeholder="Phone Number" />

          <span ng-show="(form.phonenumber.$error.pattern || form.phonenumber.$error.minlength) && (form.phonenumber.$dirty || vm.formSubmitted)">Please enter a valid 10-digit phone number.</span>
        </div>

        <div class="form-box">
        <div class="form-box">


          <label> Email Address</label>
          <input id="" ng-model="vm.data.email" name="email" ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/" type="email" placeholder="Email address" ng-minlength="10" ng-maxlength="50" />
				 	<!--<span ng-show="form.email.$invalid && (form.email.$touched || vm.formSubmitted)">Enter a valid Email Address.</span>-->
            <span ng-show="(form.email.$error.minlength || form.email.$error.pattern ) && (form.email.$dirty || vm.formSubmitted)">Please enter a valid Email Address(e.g. example@email.com).</span>
          <span ng-show="form.email.$error.maxlength && (form.email.$dirty || vm.formSubmitted)">Email must be greater than 250.</span>

		   </div>

        <div class="form-box">
          <label><em id="mandatory" style="color:Red">*</em>&nbsp;Address</label>
          <textarea ng-model="vm.data.address" required rows="4" cols="50" placeholder="Address" name="address" ng-minlength="2" ng-maxlength="250" ></textarea>
          <span ng-show="form.address.$error.required && (form.address.$dirty || vm.formSubmitted)">Address is required.</span>
           <span ng-show="(form.address.$error.minlength || form.address.$error.maxlength) && (form.address.$dirty || vm.formSubmitted)">Address should be between 20 to 250 characters long.</span>

        </div>

        <div class="form-box">

          <label><em ng-show="vm.data.other" id="mandatory" style="color:Red">*</em> &nbsp;Billing Address</label>
          <div class="customization-check-box">
            <input type="checkbox" ng-model="vm.data.other"  value="" class="checkbox">
            <strong class="billing-addres-checkbox">Other</strong>
            <textarea  required  ng-minlength="2" ng-maxlength="250" name="billaddress" ng-if="vm.data.other" ng-model="vm.data.billingAddress" class="customization-check-box-textarea" rows="4" cols="50" placeholder="">
       </textarea>
          </div>
          <!--New change00 -->
          <span ng-if="vm.data.other" ng-show="form.billaddress.$error.required && (form.billaddress.$dirty || vm.formSubmitted)">Billing Address is required.</span>
           <span ng-if="vm.data.other" ng-show="(form.billaddress.$error.minlength || form.billaddress.$error.maxlength) && (form.billaddress.$dirty || vm.formSubmitted)">Billing Address should be between 20 to 250 characters long.</span>
        </div>

        <div class="form-box">
          <label>Remarks</label>
          <textarea ng-model="vm.data.remarks" rows="4" cols="50" placeholder="Remarks Description"></textarea>
        </div>

        <div class="form-section-box">
          <div class="form-heading Measurement-editcostumer-detail-mobile">Measurement</div>
          <div class="measurement-li-box" >
                  <ul class="ng-scope">
                  
                        <li ng-if="x.isActive" ng-repeat="x in vm.measurementstype">
                        <i>{{x.name}}</i>
                          <strong>
                            <input class="measurement-input" name="{{x.name}}" type="text" ng-pattern="/^[0-9]{1,10}$/" ng-model="vm.customermeasurementvalue[$index]" / >
                            <!--<span ng-show="form.{{'aa'+x.name}}.$error.pattern">Cloth measurement must be a number.</span>-->
                            <img src="assets/images/inc-icon.png" alt="">
                          </strong>
                        </li>

                  </ul>
          </div>
        </div>

      </div>

      <div class="add-new-btm-btn">
        <div class="submit-button">
          <input type="submit" value="Save" ng-click="vm.save(form)" />
        </div>
        <div class="cancel-button">
          <input type="submit" value="Cancel" ng-click="vm.cancel()" />
        </div>
      </div>


    </div>
    </form>
    <!-- Left Form Section End Here -->


  </div>
  <!-- Footer Section Start Here -->
  <div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
  <!-- Footer Section End Here -->
</div>


<script type="text/javascript">
         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("active");

		   })

});
</script>
