<div class="container">

  <!-- Header Section Start Here -->
  <div class="main-header">
    	<div class="logo"><a href="#/home"><img src="assets/images/logo.png" alt=""></a></div>
    <span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
    <div class="navbar">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/customerdetails" class="active">Customer Details</a></li>
        <li><a href="#/order">Order Form</a></li>
        <li><a href="#/alert">Alerts</a></li>
        <li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
         <ul>
	        <li><a href='#/register'><span>Add User</span></a></li>
	        <li><a href='#/clothtype'><span>Cloth Type</span></a></li>
					<li><a href='#/materialtype'><span>Material Type</span></a></li>
	      </ul>
        </li>
        <li><a href="#/logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <!-- Header Section End Here -->

  <div class="inner-heading-bar">Edit Customer Details</div>

  <div class="main-contant-part">
    <!-- Left Form Section Start Here -->
    <form name="form" novalidate>
    <div class="order-form-left-section add-new-form">

      <div class="form-section-box">
        <div class="form-heading">Basic Information</div>

          <div class="form-box">
            <label><em id="mandatory" style="color:Red">*</em> Customer Name
                                                </label>
            <input id="" ng-minlength="3" ng-maxlength="20" ng-required="true" ng-model="vm.data.customerName" name="customerName" type="text"
              placeholder="Customer Name" />
            <span ng-show="form.customerName.$error.required && (form.customerName.$dirty || vm.formSubmitted)">User name required</span>
            <span ng-show="form.customerName.$error.minlength && (form.customerName.$dirty || vm.formSubmitted)">Length must be greater than 3</span>
            <span ng-show="form.customerName.$error.maxlength && (form.customerName.$dirty || vm.formSubmitted)">Length must be less than 50</span>

          </div>
          <div class="form-box">
            <label><em id="mandatory" style="color:Red">*</em> Gender</label>
            <select ng-model="vm.data.gender" class="paragraph" required name="gender" >
						  <option value="">Please Select</option>
						  <option value="male">Male</option>
              <option value="female">Female</option>
					  </select>
            <span ng-show="form.gender.$error.required && (form.gender.$dirty || vm.formSubmitted)">Please select gender</span>
          </div>


          <div class="form-box">
            <label><em id="mandatory" style="color:Red">*</em> Birth Date</label>
            <datepicker class="datepickerbx" date-format="dd/MM/yyyy">
              <input class="inputdatipicker" id="" ng-model="vm.data.birthDate" name=""  type="text" placeholder="Select Date"/>
                <span ng-show="form.birthDate.$error.required && (form.gender.$dirty || vm.formSubmitted)">Birthdate is required.</span>
          
              <img class="date-icon-right" src="assets/images/date-icon.png" alt="">
            </datepicker>
          </div>

          <div class="form-box">
            <label>Anniversary</label>
            <datepicker class="datepickerbx" date-format="dd/MM/yyyy">
              <input class="inputdatipicker" id="" ng-model="vm.data.anniversaryDate" name=""  type="text" placeholder="Select Date"
              />
              <img class="date-icon-right" src="assets/images/date-icon.png" alt="">
            </datepicker>
          </div>

      </div>


      <div class="form-section-box">
        <div class="form-heading">Contact Information</div>

        <div class="form-box">
          <label><em id="mandatory" style="color:Red">*</em> Mobile Number</label>
          <input id="" ng-model="vm.data.mobileNumber" ng-pattern="/^[0-9]{1,10}$/" name="mobilenumber" ng-minlength="10" ng-maxlength="11" required="required" type="text" placeholder="Mobile Number" />
          <span ng-show="form.mobilenumber.$error.required && (form.mobilenumber.$dirty || vm.formSubmitted)">Mobile number is required</span>
          <span ng-show="form.mobilenumber.$error.minlength && (form.mobilenumber.$dirty || vm.formSubmitted)">Number should not be less than 10</span>
          <span ng-show="form.mobilenumber.$error.maxlength && (form.mobilenumber.$dirty || vm.formSubmitted)">Number should not be greater than 10</span>
           <span ng-show="form.mobilenumber.$error.pattern && (form.mobilenumber.$dirty || vm.formSubmitted)">Not a valid number</span>
        </div>

        <div class="form-box">
          <label>Phone Number</label>
          <input id="" ng-model="vm.data.phoneNumber" ng-pattern="/^[0-9]{1,11}$/" name="phonenumber" ng-minlength="11" ng-maxlength="12"  type="text" placeholder="Phone Number" />
          <span ng-show="form.phonenumber.$error.pattern && (form.phonenumber.$dirty || vm.formSubmitted)">Phone Number not a valid number</span>
          <span ng-show="form.phonenumber.$error.minlength && (form.phonenumber.$dirty || vm.formSubmitted)">Number should not be less than 8</span>
          <span ng-show="form.phonenumber.$error.maxlength && (form.phonenumber.$dirty || vm.formSubmitted)">Number should not be greater than 11</span>
        </div>

        <div class="form-box">
          <label><em id="mandatory" style="color:Red">*</em> Email Id</label>
          <input id="" ng-model="vm.data.email" name="email" required="required" type="email" placeholder="Email Id" ng-minlength="10" ng-maxlength="50" />
          <span ng-show="form.email.$error.required && (form.email.$dirty || vm.formSubmitted)">Email address is required</span>
				 	<span ng-show="form.email.$invalid && (form.email.$touched || vm.formSubmitted)">Enter valid email address</span>
            <span ng-show="form.email.$error.minlength && (form.email.$dirty || vm.formSubmitted)">Email should not be less than 10</span>
          <span ng-show="form.email.$error.maxlength && (form.email.$dirty || vm.formSubmitted)">Email should not be greater than 50</span>
        
		   </div>

        <div class="form-box">
          <label><em id="mandatory" style="color:Red">*</em> Address</label>
          <textarea ng-model="vm.data.address" required rows="4" cols="50" placeholder="Address" name="address" ng-minlength="30" ng-maxlength="250" ></textarea>
          <span ng-show="form.address.$error.required && (form.address.$dirty || vm.formSubmitted)">Address is required</span>
           <span ng-show="form.address.$error.minlength && (form.address.$dirty || vm.formSubmitted)">Address should not be less than 30</span>
          <span ng-show="form.address.$error.maxlength && (form.address.$dirty || vm.formSubmitted)">Address should not be greater than 250</span>
        
        </div>

        <div class="form-box">
          <label><em id="mandatory" style="color:Red">*</em> Billing Address</label>
          <div class="customization-check-box">
            <input type="checkbox" ng-model="vm.data.other"  value="" class="checkbox">
            <strong class="billing-addres-checkbox">Other</strong>
            <textarea ng-if="vm.data.other" ng-model="vm.data.billingAddress" class="customization-check-box-textarea" rows="4" cols="50" placeholder="">
       </textarea>
          </div>
        </div>

        <div class="form-box">
          <label>Remarks</label>
          <textarea ng-model="vm.data.remarks" rows="4" cols="50" placeholder="Remarks Description"></textarea>
        </div>

      </div>

      <div class="add-new-btm-btn">
        <div class="submit-button">
          <input type="submit" value="Save" ng-click="vm.save(form)" />
        </div>
        <div class="cancel-button">
          <input type="submit" value="Cancel" ng-click="vm.cancel()" />
        </div>
      </div>


    </div>
    </form>
    <!-- Left Form Section End Here -->


  </div>
  <!-- Footer Section Start Here -->
  <div class="footer-section">Copyright © 2016 ProT Systems. All rights reserved.</div>
  <!-- Footer Section End Here -->
</div>


<script type="text/javascript">
         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("active");

		   })

});
</script>
