<div class="container">

	<!-- Header Section Start Here -->
   <div class="main-header">
   	<div class="logo"><a href="#/home"><img src="assets/images/logo.png" alt=""></a></div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
     <ul>
      <li><a href="#/home" >Home</a></li>
			<li><a href="#/customerdetails">Customer Details</a></li>
			<li><a href="#/order">Create Order</a></li>
			<li><a href="#/alert" class="active">Alerts</a></li>
			<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
				<ul>
	        <li><a href='#/register'><span>Manage Users</span></a></li>
	        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
					<li><a href='#/materialtype'><span>Manage Material</span></a></li>
=
	      </ul>
			</li>
			<li><a href="#/logout">Logout</a></li>
		 </ul>
		</div>
	 </div>
	 <!-- Header Section End Here -->

	 <div class="inner-heading-bar">Alerts Customer</div>

	 <div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
 		<div class="customer-detail-page-contant">
 		 <div class="details-table minpageheight">
 			 <table class="table-part alerts-page-table" border="0" cellspacing="0" cellpadding="0">
                  <tr class="top-purpal-color-row">
                    <th>Customer Name</th>
                    <th>Anniversary Date</th>
                    <th>Date of Birth</th>
										<th>Action</th>
                  </tr>
                  <!-- ng-repeat="data in vm.user" -->
                  <tr dir-paginate="data in vm.user|itemsPerPage:10" ng-class="{
                      'some':$index%2 == 0,
                      'table-tr-alternate-color':$index%2 != 0
                  }">

										<td data-th="Customer Name: " class="top-purpal-color-row2"><b>{{data.customerName}}</b></td>
                    <td data-th="Anniversary Date: " class="top-purpal-color-row2"><input type="checkbox"  name="Anniversary Date" value="" class="checkbox" ng-model="data.anniversaryAlert"></td>
                    <td data-th="Date of Birth: " class="top-purpal-color-row2"><input type="checkbox" name="Date of Birth" value="" class="checkbox" ng-model="data.birthdayAlert"></td>
										<td data-th="Action: " class="top-purpal-color-row2 alerts-table-mobile"><button class="reset-button" ng-click="vm.update(data)">Update</button></td>
                  </tr>
                </table>
 		 </div>
 		</div>
 		<!-- Customer Details page Section End Here -->
    <div class="paging">
     <dir-pagination-controls
                max-size="10"
               direction-links="true"
               boundary-links="true" >
       </dir-pagination-controls>
      </div>
	 </div>
	 <!-- Footer Section Start Here -->
	 <div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	 <!-- Footer Section End Here -->
	</div>

	 <script type="text/javascript">
         $(document).ready(function(e) {
          $(".menu-toggle").click(function(){
	        $(".navbar").slideToggle()

	        })
	        $(".navbar ul li").click(function(){
		      $(this).find("ul").slideToggle()
		      $(this).toggleClass("active");

		   })

});
</script>
