<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/customerdetails">Customer Details</a></li>
				<li><a href="#/order" class="active">Create Order</a></li>
				<li><a href="#/alert">Alerts</a></li>
				<li><a href="#/register">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Materials</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Order Details</div>
	<form name="orderform" novalidate>
		<div class="main-contant-part">
			<div class="form-section-box">
				<div class="form-section-box">
					<!--<div class="form-heading">Customer Details</div>-->
					<div class="form-box">
						<div class=" customer-detailsmain-box">
							<label>Order by</label>
							<input type="text" ng-model="vm.customerdetailsnew[0]" disabled/>
						</div>

						<div class=" customer-detailsmain-box1"><label>Contact Number : </label><strong>{{vm.customerdetailsnew[2]}}</strong></div>

						<div class=" customer-detailsmain-box2"><label>Address : </label><strong>{{vm.customerdetailsnew[1]}}</strong></div>
					</div>
					
						<div class=" customer-detailsmain-box">
							<label>Order Date</label>
							<input type="text" ng-model="vm.selectedOrderdate" disabled/>
							<!--<datepicker style="width: 70%;" class="datepickerbx" date-format="dd/MM/yyyy">
										<input style="margin-bottom: 0px;" class="inputdatipicker" ng-model="vm.orderdate" ng-change="vm.change(vm.order[$index].orderdate,$index)"
										id="" name="deliverydate{{$index}}" required="required" type="text" placeholder="Date of Delivery" />
							</datepicker>-->
						</div>
						<!--<div class=" customer-detailsmain-box">
							<label>Status</label>
							<input type="text" ng-model="vm.records.status" disabled/>
						</div>-->
				</div>

				
					<div class="form-section-box">
						<div class="form-heading"></div>

						<div class="form-box">
							<table class="table table-part" border="1" cellspacing="0" cellpadding="0">
								<tr class="top-purpal-color-row">
									<th>Design</th>
									<th>Delivery Date</th>
									<th>Stiching Date</th>
									<th>Alert Date</th>
									<th>Amount</th>
									<th>Status</th>
								</tr>
								<tr ng-repeat="data in vm.selectedOrder">
									<td>{{data}}</td>
									<td>
										<datepicker style="width: 100%;" class="datepickerbx" date-format="dd/MM/yyyy">
										<!--New change 00 --index inject -->
										<input style="margin-bottom: 0px;" class="inputdatipicker" ng-model="vm.order[$index].deliverydate" ng-change="vm.change(vm.order[$index].orderdate,$index)"
										id="" name="deliverydate{{$index}}" required="required" type="text" placeholder="Date of Delivery" />
										</datepicker>
									</td>
									
									<td>
									<datepicker style="width: 100%;" class="datepickerbx" date-format="dd/MM/yyyy">
									<input style="margin-bottom: 0px;" class="inputdatipicker " ng-model="vm.order[$index].stitchingdate" name="stitchingdate{{$index}}" required="required" ng-change="vm.stitchingchange(vm.order[$index].stitchingdate,$index)"
									type="text" placeholder="Date of Stitching" />
									</datepicker>
									</td>
									<td>
										<datepicker style="width: 100%;" class="datepickerbx" date-format="dd/MM/yyyy">
										<input style="margin-bottom: 0px;" class="inputdatipicker" ng-model="vm.order[$index].alertday" ng-change="vm.alertchange(vm.order[$index].orderdate,vm.order[$index].deliverydate,vm.order[$index].alertday)"
										id="" name="alertdate{{$index}}" required type="text" placeholder="Date of Alert" />
										</datepicker>
									</td>
									<td>
										<input style="width: 100% !important; margin-bottom: 0px;" class="addorder-amount-icon" id="" name="amount{{$index}}" ng-pattern="/^[0-9]{1,10}$/" ng-maxlength="10" required="required"
										ng-model="vm.order[$index].amount" type="text" placeholder="Amount" style="width: 100% !important;"/>
									</td>
									<td>
										<select ng-model="vm.order[$index].status" name="material{{$index}}">
										<option value="">-- Please Select --</option>
										<option ng-repeat="data in vm.statusdata">{{data.status}}</option>
										</select>
										</select>
									</td>
								</tr>
							</table>
						</div>
						<div class="right-add-new-button"><a ng-click="vm.updateOrder(vm.order)">Add Order</a></div>
					</div>
			</div>



		</div>
		<!-- Footer Section Start Here -->
		<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
		<!-- Footer Section End Here -->
	</form>
	<script type="text/javascript">
		$(document).ready(function (e) {
			$(".menu-toggle").click(function () {
				$(".navbar").slideToggle()

			})
			$(".navbar ul li").click(function () {
				$(this).find("ul").slideToggle()
				$(this).toggleClass("active");

			})

		});
	</script>