<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/customerdetails">Customer Details</a></li>
				<li><a href="#/order" class="active">Create Order</a></li>
				<li><a href="#/alert">Alerts</a></li>
				<li><a href="#/register">Settings</a>
					<!--<ul>
                        <li><a href='#/register'><span>Manage Users</span></a></li>
                        <li><a href='#/clothtype'><span>Manage Designs</span></a></li>
                        <li><a href='#/subdesign'><span>Manage Styles</span></a></li>
                        <li><a href='#/materialtype'><span>Manage Materials</span></a></li>
                    </ul>-->
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Order Details</div>
	<form name="orderform" novalidate>
		<div class="main-contant-part">
			<div class="form-section-box">
				<div class="form-section-box">
					<!--<div class="form-heading">Customer Details</div>-->
					<div class="form-box">
						<div class=" customer-detailsmain-box">
							<label>Order by</label>
							<input type="text" ng-model="vm.records.customerName" disabled/>
						</div>

						<div class=" customer-detailsmain-box1"><label>Contact Number : </label><strong>{{vm.customerpatch.mobileNumber}}</strong></div>

						<div class=" customer-detailsmain-box2"><label>Address : </label><strong>{{vm.customerpatch.address}}</strong></div>
					</div>
					
						<div class=" customer-detailsmain-box">
							<label>Order Date</label>
							<input type="text" ng-model="vm.records.orderdate" disabled/>
						</div>
						<div class=" customer-detailsmain-box">
							<label>Status</label>
							<input type="text" ng-model="vm.records.status" disabled/>
						</div>
				</div>

				
					<div class="form-section-box">
						<div class="form-heading"></div>

						<div class="form-box">
							<table class="table table-part" border="1" cellspacing="0" cellpadding="0">
								<tr class="top-purpal-color-row">
									<th>Design</th>
									<th>Delivery Date</th>
									<th>Stiching Date</th>
									<th>Alert Date</th>
									<th>Amount</th>
									<th>Status</th>
								</tr>
								<tr ng-repeat="">
									<th>{{data.type}}</th>
									<th>{{data.date}}</th>
									<th>{{data.date}}</th>
									<th>{{data.alertday}}</th>
									<th>{{data.amount}}</th>
									<th>{{data.status}}</th>

								</tr>
							</table>
						</div>
					</div>
			</div>



		</div>
		<!-- Footer Section Start Here -->
		<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
		<!-- Footer Section End Here -->
	</form>
	<script type="text/javascript">
		$(document).ready(function (e) {
			$(".menu-toggle").click(function () {
				$(".navbar").slideToggle()

			})
			$(".navbar ul li").click(function () {
				$(this).find("ul").slideToggle()
				$(this).toggleClass("active");

			})

		});
	</script>