<div class="container">

	<!-- Header Section Start Here -->
   <div class="main-header">
    <div class="logo"><img src="assets/images/logo.png" alt=""></div>
		<div class="navbar">
     <ul>
      <li><a href="#/home">Home</a></li>
			<li><a href="#" class="active">Customer Details</a></li>
			<li><a href="#/order">Order Form</a></li>
			<li><a href="#/alert">Alerts</a></li>
			<li><a href="#/contactas">Contact Us</a></li>
			<li><a href="#/logout">Logout</a></li>
		 </ul>
		</div>
	 </div>
	 <!-- Header Section End Here -->

	 <div class="inner-heading-bar">Customer Details</div>

	 <div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
		<div class="customer-detail-page-contant">
     <div class="right-add-new-button"><a href="#/newcustomer">Add New</a></div>
		 <div class="details-table">
			 <table class="table-part" border="0" cellspacing="0" cellpadding="0">
                 <tr class="top-purpal-color-row">
                   <th>Customer Name</th>
                   <th>Customer Email Id</th>
                   <th>Contact Number</th>
                   <th>Billing Address</th>
                 </tr>

    <tr ng-repeat="newdata in vm.data">
       <td ><a ng-click="vm.editpage(newdata)">{{newdata.customerName}}</a></td>
        <td>{{newdata.email}}</td>
        <td>{{newdata.mobileNumber}}</td>
        <td>{{newdata.billingAddress}}</td>
  </tr>
</table>
		 </div>
		</div>
		<!-- Customer Details page Section End Here -->
	 </div>
	 <!-- Footer Section Start Here -->
	 <div class="footer-section">Copyright © 2016 ProT Systems. All rights reserved.</div>
	 <!-- Footer Section End Here -->
	</div>
