<div class="container">

	<!-- Header Section Start Here -->
	<div class="main-header">
		<div class="logo">
			<a href="#/home"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<span class="menu-toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
		<div class="navbar">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/customerdetails" class="active">Customer Details</a></li>
				<li><a href="#/order">Orders</a></li>
				<li><a href="#/alert">Alerts</a></li>
				<li><a href="">Settings <span><img src="assets/images/menu-drop-arrow.png" alt="Myra The Boutique"></span></a>
					<ul>
						<li><a href='#/register'><span>Manage Users</span></a></li>
						<li><a href='#/clothtype'><span>Manage Designs</span></a></li>
						<li><a href='#/materialtype'><span>Manage Material</span></a></li>
					</ul>
				</li>
				<li><a href="#/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- Header Section End Here -->

	<div class="inner-heading-bar">Customer Details</div>

	<div class="main-contant-part">
		<!-- Customer Details page Section Start Here -->
		<div class="customer-detail-page-contant">
			<div class="right-add-new-button addnew-btn-custumer-detail"><a href="#/newcustomer">Add New</a></div>

			<p>
   <div class="search-box-main"><input class="serchInput" type="text" ng-model="vm.search" placeholder="Search here..."></div>
</p>

			<div class="details-table">

				<h2 class="no-record-found-text" ng-hide="vm.temp.length">No record found</h2>

				<table ng-show="vm.temp.length" class="table-part" border="0" cellspacing="0" cellpadding="0">
					<tr class="top-purpal-color-row">
						<th class="customer-detail-th-width-1">
							<a href="" ng-click="vm.order('customerName')">
								<font color="#337ab7">Customer Name</font>&nbsp

								<span ng-show="vm.predicate == 'customerName'">
                <span ng-show="!vm.reverse">
                    <img src="assets/images/up-arrow-1.png" alt="">
                </span>
								<span ng-show="vm.reverse">
                   <img src="assets/images/down-arrow-1.png" alt="">
                </span>
								</span>
							</a>
						</th>
						<th><b>Email Address</th>
						<th class="customer-detail-th-width-1">Contact Number</th>
						<th>Billing Address</th>
						<th>Order Detail</th></b>


					<!-- ng-repeat="newdata in vm.data" -->
					<tr dir-paginate="data in vm.temp=(vm.data | filter:vm.search) | itemsPerPage:10 | orderBy:vm.predicate:vm.reverse" ng-class="{
                      'some':$index%2 == 0,
                      'table-tr-alternate-color':$index%2 != 0
                  }">
						<td data-th="Name: " class="top-purpal-color-row2"><span><a ng-click="vm.editpage(data)" class="customer-name-link">{{data.customerName}}</a></span></td>
						<td data-th="Email Id: " class="top-purpal-color-row2">{{data.email}}</td>
						<td data-th="Contact Number: " class="top-purpal-color-row2">{{data.mobileNumber}}</td>
						<td data-th="Billing Address: " class="top-purpal-color-row2">{{data.billingAddress}}</td>
						<td data-th="OrderSummary: " class="top-purpal-color-row2"><a ng-click="vm.summary(data)" class="customer-name-link">View</a></td>

					</tr>
				</table>
			</div>
		</div>

		<!-- Customer Details page Section End Here -->
		<div class="paging">
			<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
			</dir-pagination-controls>
		</div>
	</div>
	<!-- Footer Section Start Here -->
	<div class="footer-section">Copyright © 2017 ProT Systems. All rights reserved.</div>
	<!-- Footer Section End Here -->
</div>
<script type="text/javascript">
	$(document).ready(function (e) {
		$(".menu-toggle").click(function () {
			$(".navbar").slideToggle()

		})
		$(".navbar ul li").click(function () {
			$(this).find("ul").slideToggle()
			$(this).toggleClass("active");

		})

	});
</script>